

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Helpers" lang="en" name="title" />
<meta content="php class,time function,presentation layer,processing power,ajax,markup,array,functionality,logic,syntax,elements,cakephp,plugins" lang="en" name="keywords" />

    <title>Helpers</title>
    <link href="../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../_static/app.js"></script>

    <link rel="alternate" hreflang="pt" href="../../pt/views/helpers.html" /><link rel="alternate" hreflang="es" href="../../es/views/helpers.html" /><link rel="alternate" hreflang="ja" href="../../ja/views/helpers.html" /><link rel="alternate" hreflang="fr" href="../../fr/views/helpers.html" /><link rel="alternate" hreflang="zh" href="../../zh/views/helpers.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 2.x documentation" href="../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 2.x documentation" href="../index.html" />
    <link rel="up" title="Views" href="../views.html" />
    <link rel="next" title="CacheHelper" href="../core-libraries/helpers/cache.html" />
    <link rel="prev" title="JSON and XML views" href="json-and-xml-views.html" />

    <script type="text/javascript">
    window.lang = "en";
    </script>
  </head>
  <body>

<div id="container">
	
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									
<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
								</ul>
							</li>

							<li><a href="http://cakephp.org/business-solutions">Business Solutions</a></li>
							<li><a href="http://cakephp.org/showcase">Showcase</a></li>

							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
											</ul>
										</div>
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		
		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">
				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
						<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
							<i class="fa fa-bars toggle-modal"></i>
						</button>
					</div>
					<div id="wrap">
						<form class="search" action="../search.html" method="get">
							<input name="q" type="search" placeholder="What are you looking for?">
							<input id="search_submit" value="Search" type="submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0 hidden-sm hidden-xs">
							<h2>
								<a href="../contents.html">
									<span class="glyph_range icon-submenu icon-submenu-cook">B</span>
									CakePHP 2.x <strong>Cookbook</strong>
								</a>
							</h2>
						</div>

						<div class="col-md-4 hidden-sm">
							<form class="search" action="../search.html" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
									</button>
								</div>
							</form>
						</div>

						
						<div class="col-md-3">
							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Language:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
													role="button" aria-haspopup="true" aria-expanded="false" href="#">
														en
														<i class="fa fa-menu-en fa-chevron-down"></i>
													</a>
											<ul class="dropdown-menu">
											
												<li></li>
											
												<li><a href="../../pt/views/helpers.html">pt</a></li>
											
												<li><a href="../../es/views/helpers.html">es</a></li>
											
												<li><a href="../../ja/views/helpers.html">ja</a></li>
											
												<li><a href="../../fr/views/helpers.html">fr</a></li>
											
												<li><a href="../../zh/views/helpers.html">zh</a></li>
											
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Version:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="http://book.cakephp.org/3.0/en">3.x Book</a></li>
												<li><a href="http://book.cakephp.org/2.0/en">2.x Book</a></li>
												<li><a href="http://book.cakephp.org/1.3/en/">1.3 Book</a></li>
												<li><a href="http://book.cakephp.org/1.2/en/">1.2 Book</a></li>
												<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>

	
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
				</div>

				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
				</div>
			</div>
		</div>
	</section>

	
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header"></h4>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

<div class="container page-container"><div id="improve-slideout">
		<i class="fa fa-pencil icon-improve"></i>
		<a href="https://github.com/cakephp/docs/edit/master/en/views/helpers.rst" target="_blank">
			<div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
		</a>
	</div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

	
	<div class="row">
		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off"><div class="page-contents col-sm-5">
				<h3>Page Contents</h3>
				<ul>
<li><a class="reference internal" href="#">Helpers</a><ul>
<li><a class="reference internal" href="#using-and-configuring-helpers">Using and Configuring Helpers</a></li>
<li><a class="reference internal" href="#using-helpers">Using Helpers</a></li>
<li><a class="reference internal" href="#callback-methods">Callback methods</a></li>
<li><a class="reference internal" href="#creating-helpers">Creating Helpers</a><ul>
<li><a class="reference internal" href="#including-other-helpers">Including other Helpers</a></li>
<li><a class="reference internal" href="#using-your-helper">Using your Helper</a></li>
</ul>
</li>
<li><a class="reference internal" href="#creating-functionality-for-all-helpers">Creating Functionality for All Helpers</a></li>
<li><a class="reference internal" href="#helper-api">Helper API</a><ul>
<li><a class="reference internal" href="#callbacks">Callbacks</a></li>
</ul>
</li>
</ul>
</li>
</ul>

			</div><div class="document-body">
			
  <div class="section" id="helpers">
<h1>Helpers<a class="headerlink" href="#helpers" title="Permalink to this headline">¶</a></h1>
<p>Helpers are the component-like classes for the presentation layer
of your application. They contain presentational logic that is
shared between many views, elements, or layouts. This chapter will
show you how to create your own helpers, and outline the basic
tasks CakePHP&#8217;s core helpers can help you accomplish.</p>
<p>CakePHP features a number of helpers that aid in view creation.
They assist in creating well-formed markup (including forms), aid
in formatting text, times and numbers, and can even speed up AJAX
functionality. For more information on the helpers included in CakePHP,
check out the chapter for each helper:</p>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/cache.html">CacheHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/flash.html">FlashHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/form.html">FormHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/html.html">HtmlHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/js.html">JsHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/number.html">NumberHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/paginator.html">PaginatorHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/rss.html">RssHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/session.html">SessionHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/text.html">TextHelper</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/helpers/time.html">TimeHelper</a></li>
</ul>
</div>
<div class="section" id="using-and-configuring-helpers">
<span id="configuring-helpers"></span><h2>Using and Configuring Helpers<a class="headerlink" href="#using-and-configuring-helpers" title="Permalink to this headline">¶</a></h2>
<p>You enable helpers in CakePHP by making a controller aware of them. Each
controller has a <a class="reference internal" href="../controllers.html#Controller::$helpers" title="Controller::$helpers"><code class="xref php php-attr docutils literal"><span class="pre">$helpers</span></code></a> property that lists the
helpers to be made available in the view. To enable a helper in your view, add
the name of the helper to the controller&#8217;s <code class="docutils literal"><span class="pre">$helpers</span></code> array:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">BakeriesController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>
    <span class="k">public</span> <span class="nv">$helpers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Form&#39;</span><span class="p">,</span> <span class="s1">&#39;Html&#39;</span><span class="p">,</span> <span class="s1">&#39;Js&#39;</span><span class="p">,</span> <span class="s1">&#39;Time&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Adding helpers from plugins uses the <a class="reference internal" href="../appendices/glossary.html#term-plugin-syntax"><span class="xref std std-term">plugin syntax</span></a> used elsewhere in
CakePHP:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">BakeriesController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>
    <span class="k">public</span> <span class="nv">$helpers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Blog.Comment&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You can also add helpers from within an action, so they will only
be available to that action and not to the other actions in the
controller. This saves processing power for the other actions that
do not use the helper and helps keep the controller better
organized:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">BakeriesController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">bake</span><span class="p">()</span> <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">helpers</span><span class="p">[]</span> <span class="o">=</span> <span class="s1">&#39;Time&#39;</span><span class="p">;</span>
    <span class="p">}</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">mix</span><span class="p">()</span> <span class="p">{</span>
        <span class="c1">// The Time helper is not loaded here and thus not available</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>If you need to enable a helper for all controllers, add the name of
the helper to the <code class="docutils literal"><span class="pre">$helpers</span></code> array in <code class="docutils literal"><span class="pre">/app/Controller/AppController.php</span></code> (or
create it if not present). Remember to include the default Html and
Form helpers:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">AppController</span> <span class="k">extends</span> <span class="nx">Controller</span> <span class="p">{</span>
    <span class="k">public</span> <span class="nv">$helpers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Form&#39;</span><span class="p">,</span> <span class="s1">&#39;Html&#39;</span><span class="p">,</span> <span class="s1">&#39;Js&#39;</span><span class="p">,</span> <span class="s1">&#39;Time&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You can pass options to helpers. These options can be used to set
attribute values or modify behavior of a helper:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">AwesomeHelper</span> <span class="k">extends</span> <span class="nx">AppHelper</span> <span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">__construct</span><span class="p">(</span><span class="nx">View</span> <span class="nv">$view</span><span class="p">,</span> <span class="nv">$settings</span> <span class="o">=</span> <span class="k">array</span><span class="p">())</span> <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">__construct</span><span class="p">(</span><span class="nv">$view</span><span class="p">,</span> <span class="nv">$settings</span><span class="p">);</span>
        <span class="nx">debug</span><span class="p">(</span><span class="nv">$settings</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="k">class</span> <span class="nc">AwesomeController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>
    <span class="k">public</span> <span class="nv">$helpers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Awesome&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;option1&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;value1&#39;</span><span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<p>As of 2.3, the options are merged with the <code class="docutils literal"><span class="pre">Helper::$settings</span></code> property of
the helper.</p>
<p>One common setting to use is the <code class="docutils literal"><span class="pre">className</span></code> option, which allows you to
create aliased helpers in your views. This feature is useful when you want to
replace <code class="docutils literal"><span class="pre">$this-&gt;Html</span></code> or another common Helper reference with a custom
implementation:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// app/Controller/PostsController.php</span>
<span class="k">class</span> <span class="nc">PostsController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>
    <span class="k">public</span> <span class="nv">$helpers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;Html&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;className&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;MyHtml&#39;</span>
        <span class="p">)</span>
    <span class="p">);</span>
<span class="p">}</span>

<span class="c1">// app/View/Helper/MyHtmlHelper.php</span>
<span class="nx">App</span><span class="o">::</span><span class="na">uses</span><span class="p">(</span><span class="s1">&#39;HtmlHelper&#39;</span><span class="p">,</span> <span class="s1">&#39;View/Helper&#39;</span><span class="p">);</span>
<span class="k">class</span> <span class="nc">MyHtmlHelper</span> <span class="k">extends</span> <span class="nx">HtmlHelper</span> <span class="p">{</span>
    <span class="c1">// Add your code to override the core HtmlHelper</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The above would <em>alias</em> <code class="docutils literal"><span class="pre">MyHtmlHelper</span></code> to <code class="docutils literal"><span class="pre">$this-&gt;Html</span></code> in your views.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Aliasing a helper replaces that instance anywhere that helper is used,
including inside other Helpers.</p>
</div>
<p>Using helper settings allows you to declaratively configure your helpers and
keep configuration logic out of your controller actions. If you have
configuration options that cannot be included as part of a class declaration,
you can set those in your controller&#8217;s beforeRender callback:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">PostsController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeRender</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">beforeRender</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">helpers</span><span class="p">[</span><span class="s1">&#39;CustomStuff&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_getCustomStuffSettings</span><span class="p">();</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="using-helpers">
<h2>Using Helpers<a class="headerlink" href="#using-helpers" title="Permalink to this headline">¶</a></h2>
<p>Once you&#8217;ve configured which helpers you want to use in your controller,
each helper is exposed as a public property in the view. For example, if you
were using the <a class="reference internal" href="../core-libraries/helpers/html.html#HtmlHelper" title="HtmlHelper"><code class="xref php php-class docutils literal"><span class="pre">HtmlHelper</span></code></a> you would be able to access it by
doing the following:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Html</span><span class="o">-&gt;</span><span class="na">css</span><span class="p">(</span><span class="s1">&#39;styles&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>The above would call the <code class="docutils literal"><span class="pre">css</span></code> method on the HtmlHelper. You can
access any loaded helper using <code class="docutils literal"><span class="pre">$this-&gt;{$helperName}</span></code>. There may
come a time where you need to dynamically load a helper from inside
a view. You can use the view&#8217;s <code class="xref php php-class docutils literal"><span class="pre">HelperCollection</span></code> to
do this:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$mediaHelper</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Helpers</span><span class="o">-&gt;</span><span class="na">load</span><span class="p">(</span><span class="s1">&#39;Media&#39;</span><span class="p">,</span> <span class="nv">$mediaSettings</span><span class="p">);</span>
</pre></div>
</div>
<p>The HelperCollection is a <a class="reference internal" href="../core-libraries/collections.html"><span class="doc">collection</span></a> and
supports the collection API used elsewhere in CakePHP.</p>
</div>
<div class="section" id="callback-methods">
<h2>Callback methods<a class="headerlink" href="#callback-methods" title="Permalink to this headline">¶</a></h2>
<p>Helpers feature several callbacks that allow you to augment the
view rendering process. See the <a class="reference internal" href="#helper-api"><span class="std std-ref">Helper API</span></a> and the
<a class="reference internal" href="../core-libraries/collections.html"><span class="doc">Collections</span></a> documentation for more information.</p>
</div>
<div class="section" id="creating-helpers">
<h2>Creating Helpers<a class="headerlink" href="#creating-helpers" title="Permalink to this headline">¶</a></h2>
<p>If a core helper (or one showcased on GitHub or in the Bakery)
doesn&#8217;t fit your needs, helpers are easy to create.</p>
<p>Let&#8217;s say we wanted to create a helper that could be used to output
a specifically crafted CSS-styled link you needed many different
places in your application. In order to fit your logic into
CakePHP&#8217;s existing helper structure, you&#8217;ll need to create a new
class in <code class="docutils literal"><span class="pre">/app/View/Helper</span></code>. Let&#8217;s call our helper LinkHelper. The
actual PHP class file would look something like this:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="cm">/* /app/View/Helper/LinkHelper.php */</span>
<span class="nx">App</span><span class="o">::</span><span class="na">uses</span><span class="p">(</span><span class="s1">&#39;AppHelper&#39;</span><span class="p">,</span> <span class="s1">&#39;View/Helper&#39;</span><span class="p">);</span>

<span class="k">class</span> <span class="nc">LinkHelper</span> <span class="k">extends</span> <span class="nx">AppHelper</span> <span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">makeEdit</span><span class="p">(</span><span class="nv">$title</span><span class="p">,</span> <span class="nv">$url</span><span class="p">)</span> <span class="p">{</span>
        <span class="c1">// Logic to create specially formatted link goes here...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Helpers must extend either <code class="docutils literal"><span class="pre">AppHelper</span></code> or <a class="reference internal" href="#Helper" title="Helper"><code class="xref php php-class docutils literal"><span class="pre">Helper</span></code></a> or implement all the callbacks
in the <a class="reference internal" href="#helper-api"><span class="std std-ref">Helper API</span></a>.</p>
</div>
<div class="section" id="including-other-helpers">
<h3>Including other Helpers<a class="headerlink" href="#including-other-helpers" title="Permalink to this headline">¶</a></h3>
<p>You may wish to use some functionality already existing in another
helper. To do so, you can specify helpers you wish to use with a
<code class="docutils literal"><span class="pre">$helpers</span></code> array, formatted just as you would in a controller:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="cm">/* /app/View/Helper/LinkHelper.php (using other helpers) */</span>
<span class="nx">App</span><span class="o">::</span><span class="na">uses</span><span class="p">(</span><span class="s1">&#39;AppHelper&#39;</span><span class="p">,</span> <span class="s1">&#39;View/Helper&#39;</span><span class="p">);</span>

<span class="k">class</span> <span class="nc">LinkHelper</span> <span class="k">extends</span> <span class="nx">AppHelper</span> <span class="p">{</span>
    <span class="k">public</span> <span class="nv">$helpers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Html&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">makeEdit</span><span class="p">(</span><span class="nv">$title</span><span class="p">,</span> <span class="nv">$url</span><span class="p">)</span> <span class="p">{</span>
        <span class="c1">// Use the HTML helper to output</span>
        <span class="c1">// formatted data:</span>

        <span class="nv">$link</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Html</span><span class="o">-&gt;</span><span class="na">link</span><span class="p">(</span><span class="nv">$title</span><span class="p">,</span> <span class="nv">$url</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;class&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;edit&#39;</span><span class="p">));</span>

        <span class="k">return</span> <span class="s1">&#39;&lt;div class=&quot;editOuter&quot;&gt;&#39;</span> <span class="o">.</span> <span class="nv">$link</span> <span class="o">.</span> <span class="s1">&#39;&lt;/div&gt;&#39;</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="using-your-helper">
<span id="id1"></span><h3>Using your Helper<a class="headerlink" href="#using-your-helper" title="Permalink to this headline">¶</a></h3>
<p>Once you&#8217;ve created your helper and placed it in
<code class="docutils literal"><span class="pre">/app/View/Helper/</span></code>, you&#8217;ll be able to include it in your
controllers using the special variable <a class="reference internal" href="../controllers.html#Controller::$helpers" title="Controller::$helpers"><code class="xref php php-attr docutils literal"><span class="pre">$helpers</span></code></a>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">PostsController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>
    <span class="k">public</span> <span class="nv">$helpers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Link&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Once your controller has been made aware of this new class, you can
use it in your views by accessing an object named after the
helper:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="o">&lt;!--</span> <span class="nx">make</span> <span class="nx">a</span> <span class="nb">link</span> <span class="nx">using</span> <span class="nx">the</span> <span class="k">new</span> <span class="nx">helper</span> <span class="o">--&gt;</span>
<span class="o">&lt;?</span><span class="nx">php</span> <span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Link</span><span class="o">-&gt;</span><span class="na">makeEdit</span><span class="p">(</span><span class="s1">&#39;Change this Recipe&#39;</span><span class="p">,</span> <span class="s1">&#39;/recipes/edit/5&#39;</span><span class="p">);</span> <span class="cp">?&gt;</span><span class="x"></span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="creating-functionality-for-all-helpers">
<h2>Creating Functionality for All Helpers<a class="headerlink" href="#creating-functionality-for-all-helpers" title="Permalink to this headline">¶</a></h2>
<p>All helpers extend a special class, AppHelper (just like models
extend AppModel and controllers extend AppController). To create
functionality that would be available to all helpers, create
<code class="docutils literal"><span class="pre">/app/View/Helper/AppHelper.php</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nx">App</span><span class="o">::</span><span class="na">uses</span><span class="p">(</span><span class="s1">&#39;Helper&#39;</span><span class="p">,</span> <span class="s1">&#39;View&#39;</span><span class="p">);</span>

<span class="k">class</span> <span class="nc">AppHelper</span> <span class="k">extends</span> <span class="nx">Helper</span> <span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">customMethod</span><span class="p">()</span> <span class="p">{</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="helper-api">
<span id="id2"></span><h2>Helper API<a class="headerlink" href="#helper-api" title="Permalink to this headline">¶</a></h2>
<dl class="class">
<dt id="Helper">
<em class="property">class </em><code class="descname">Helper</code><a class="headerlink" href="#Helper" title="Permalink to this definition">¶</a></dt>
<dd><p>The base class for Helpers. It provides a number of utility methods and
features for loading other helpers.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::webroot">
<code class="descclassname">Helper::</code><code class="descname">webroot</code><span class="sig-paren">(</span><em>$file</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::webroot" title="Permalink to this definition">¶</a></dt>
<dd><p>Resolve a file name to the webroot of the application. If a theme is active
and the file exists in the current theme&#8217;s webroot, the path to the themed
file will be returned.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::url">
<code class="descclassname">Helper::</code><code class="descname">url</code><span class="sig-paren">(</span><em>$url</em>, <em>$full = false</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::url" title="Permalink to this definition">¶</a></dt>
<dd><p>Generates an HTML escaped URL, delegates to <a class="reference internal" href="../development/routing.html#Router::url" title="Router::url"><code class="xref php php-meth docutils literal"><span class="pre">Router::url()</span></code></a>.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::value">
<code class="descclassname">Helper::</code><code class="descname">value</code><span class="sig-paren">(</span><em>$options = array()</em>, <em>$field = null</em>, <em>$key = 'value'</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::value" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the value for a given input name.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::domId">
<code class="descclassname">Helper::</code><code class="descname">domId</code><span class="sig-paren">(</span><em>$options = null</em>, <em>$id = 'id'</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::domId" title="Permalink to this definition">¶</a></dt>
<dd><p>Generate a CamelCased id value for the currently selected field.
Overriding this method in your AppHelper will allow you to change
how CakePHP generates ID attributes.</p>
</dd></dl>

<div class="section" id="callbacks">
<h3>Callbacks<a class="headerlink" href="#callbacks" title="Permalink to this headline">¶</a></h3>
<dl class="method">
<dt id="Helper::beforeRenderFile">
<code class="descclassname">Helper::</code><code class="descname">beforeRenderFile</code><span class="sig-paren">(</span><em>$viewFile</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::beforeRenderFile" title="Permalink to this definition">¶</a></dt>
<dd><p>Is called before each view file is rendered. This includes elements,
views, parent views and layouts.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::afterRenderFile">
<code class="descclassname">Helper::</code><code class="descname">afterRenderFile</code><span class="sig-paren">(</span><em>$viewFile</em>, <em>$content</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::afterRenderFile" title="Permalink to this definition">¶</a></dt>
<dd><p>Is called after each view file is rendered. This includes elements, views,
parent views and layouts. A callback can modify and return <code class="docutils literal"><span class="pre">$content</span></code> to
change how the rendered content will be displayed in the browser.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::beforeRender">
<code class="descclassname">Helper::</code><code class="descname">beforeRender</code><span class="sig-paren">(</span><em>$viewFile</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::beforeRender" title="Permalink to this definition">¶</a></dt>
<dd><p>The beforeRender method is called after the controller&#8217;s
beforeRender method but before the controller renders view and
layout. Receives the file being rendered as an argument.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::afterRender">
<code class="descclassname">Helper::</code><code class="descname">afterRender</code><span class="sig-paren">(</span><em>$viewFile</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::afterRender" title="Permalink to this definition">¶</a></dt>
<dd><p>Is called after the view has been rendered but before layout rendering has
started.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::beforeLayout">
<code class="descclassname">Helper::</code><code class="descname">beforeLayout</code><span class="sig-paren">(</span><em>$layoutFile</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::beforeLayout" title="Permalink to this definition">¶</a></dt>
<dd><p>Is called before layout rendering starts. Receives the layout filename as an
argument.</p>
</dd></dl>

<dl class="method">
<dt id="Helper::afterLayout">
<code class="descclassname">Helper::</code><code class="descname">afterLayout</code><span class="sig-paren">(</span><em>$layoutFile</em><span class="sig-paren">)</span><a class="headerlink" href="#Helper::afterLayout" title="Permalink to this definition">¶</a></dt>
<dd><p>Is called after layout rendering is complete. Receives the layout filename as an
argument.</p>
</dd></dl>

</div>
</div>
</div>


			</div>
		</div>

		
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="en">
			<aside class="sidebar">
				<div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../index.html">Welcome</a></li>
<li class="toctree-l1"><a class="reference internal" href="../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../getting-started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cakephp-overview.html">CakePHP Overview</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers.html">Controllers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../views.html">Views</a></li>
<li class="toctree-l1"><a class="reference internal" href="../models.html">Models</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../core-libraries.html">Core Libraries</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../core-libraries/toc-general-purpose.html">General Purpose</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../core-libraries/global-constants-and-functions.html">Global Constants and Functions</a></li>
<li class="toctree-l3"><a class="reference internal" href="../core-utility-libraries/app.html">App Class</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="../core-libraries/events.html">Events System</a></li>
<li class="toctree-l3"><a class="reference internal" href="../core-libraries/collections.html">Collections</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../core-libraries/toc-behaviors.html">Behaviors</a></li>
<li class="toctree-l2"><a class="reference internal" href="../core-libraries/toc-components.html">Components</a></li>
<li class="toctree-l2"><a class="reference internal" href="../core-libraries/toc-helpers.html">Helpers</a></li>
<li class="toctree-l2"><a class="reference internal" href="../core-libraries/toc-utilities.html">Utilities</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../console-and-shells.html">Shells, Tasks &amp; Console Tools</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development.html">Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../deployment.html">Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorials-and-examples.html">Tutorials &amp; Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../contributing.html">Contributing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices.html">Appendices</a></li>
</ul>

</div>

				</div>
			</aside>
			<aside class="sidebar">
				<div class="mb30 row">
				</div>
			</aside>
		</div>
	</div>
</div>

<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4  social text-center">
				<div class="col-sm-3 col-xs-3">
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						<div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 social-footer text-center ">
				<a href="#">发现翻译错误? 请在下面留言</a>
				<a href="https://github.com/blackpuppy/docs/wiki" target="_blank">我要加入翻译</a>
				<a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
				<a href="http://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="http://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="http://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
				<a href="http://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
				<a href="http://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
				<a href="http://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">
			<div class="col-sm-12 col-md-3">
				<div class="footer-widget t-footer">
					<div class="col-md-12">
						<a href="https://www.openhub.net/p/cakephp">
							<img src="../_static/open-hub.png">
						</a>
						<div class="mt10">
							<a href="https://www.rackspace.com/">
								<img src="../_static/rackspace.png">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-9">
				<div class="col-md-3 col-sm-6 business-solution">
					<ul class="footer-menu">
						<li class="menu-title">
	<a href="http://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
	<a href="http://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
							&copy; Copyright 2016, Cake Software Foundation, Inc.
						Last updated on Aug 03, 2016.
						Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
  </body>
</html>