

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Cookie" lang="zh" name="title" />
<meta content="array controller,php setcookie,cookie string,controller setup,string domain,default description,string name,session cookie,integers,variables,domain name,null" lang="zh" name="keywords" />

    <title>Cookie</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="en" href="../../../en/core-libraries/components/cookie.html" /><link rel="alternate" hreflang="pt" href="../../../pt/core-libraries/components/cookie.html" /><link rel="alternate" hreflang="es" href="../../../es/core-libraries/components/cookie.html" /><link rel="alternate" hreflang="ja" href="../../../ja/core-libraries/components/cookie.html" /><link rel="alternate" hreflang="fr" href="../../../fr/core-libraries/components/cookie.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 2.x 文档" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 2.x 文档" href="../../index.html" />
    <link rel="up" title="组件" href="../toc-components.html" />
    <link rel="next" title="访问控制列表组件" href="access-control-lists.html" />
    <link rel="prev" title="请求处理" href="request-handling.html" />

    <script type="text/javascript">
    window.lang = "zh";
    </script>
  </head>
  <body>

<div id="container">
	
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									
<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
								</ul>
							</li>

							<li><a href="http://cakephp.org/business-solutions">Business Solutions</a></li>
							<li><a href="http://cakephp.org/showcase">Showcase</a></li>

							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
											</ul>
										</div>
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		
		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">
				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
						<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
							<i class="fa fa-bars toggle-modal"></i>
						</button>
					</div>
					<div id="wrap">
						<form class="search" action="../../search.html" method="get">
							<input name="q" type="search" placeholder="What are you looking for?">
							<input id="search_submit" value="搜索" type="submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0 hidden-sm hidden-xs">
							<h2>
								<a href="../../contents.html">
									<span class="glyph_range icon-submenu icon-submenu-cook">B</span>
									CakePHP 2.x <strong>Cookbook</strong>
								</a>
							</h2>
						</div>

						<div class="col-md-4 hidden-sm">
							<form class="search" action="../../search.html" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
									</button>
								</div>
							</form>
						</div>

						
						<div class="col-md-3">
							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Language:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
													role="button" aria-haspopup="true" aria-expanded="false" href="#">
														zh
														<i class="fa fa-menu-en fa-chevron-down"></i>
													</a>
											<ul class="dropdown-menu">
											
												<li><a href="../../../en/core-libraries/components/cookie.html">en</a></li>
											
												<li><a href="../../../pt/core-libraries/components/cookie.html">pt</a></li>
											
												<li><a href="../../../es/core-libraries/components/cookie.html">es</a></li>
											
												<li><a href="../../../ja/core-libraries/components/cookie.html">ja</a></li>
											
												<li><a href="../../../fr/core-libraries/components/cookie.html">fr</a></li>
											
												<li></li>
											
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Version:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="http://book.cakephp.org/3.0/zh">3.x Book</a></li>
												<li><a href="http://book.cakephp.org/2.0/zh">2.x Book</a></li>
												<li><a href="http://book.cakephp.org/1.3/zh/">1.3 Book</a></li>
												<li><a href="http://book.cakephp.org/1.2/zh/">1.2 Book</a></li>
												<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>

	
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
				</div>

				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
				</div>
			</div>
		</div>
	</section>

	
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header"></h4>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

<div class="container page-container"><div id="improve-slideout">
		<i class="fa fa-pencil icon-improve"></i>
		<a href="https://github.com/cakephp/docs/edit/master/zh/core-libraries/components/cookie.rst" target="_blank">
			<div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
		</a>
	</div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

	
	<div class="row">
		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off"><div class="page-contents col-sm-5">
				<h3>Page Contents</h3>
				<ul>
<li><a class="reference internal" href="#">Cookie</a></li>
</ul>

			</div><div class="document-body">
			
  <div class="section" id="cookie">
<h1>Cookie<a class="headerlink" href="#cookie" title="永久链接至标题">¶</a></h1>
<dl class="class">
<dt id="CookieComponent">
<em class="property">class </em><code class="descname">CookieComponent</code><span class="sig-paren">(</span><em>ComponentCollection $collection</em>, <em>array $settings = array()</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent" title="永久链接至目标">¶</a></dt>
<dd></dd></dl>

<p>CookieComponent(Cookie组件)是对原生php中``setcookie``的封装。它还包括许多有用的
功能，使得在你的控制器中使用起来很方便。在使用CookieComponent之前,必须确保&#8217;Cookie&#8217;出现在
控制器的$components变量数组中。</p>
<p>The CookieComponent is a wrapper around the native PHP <code class="docutils literal"><span class="pre">setcookie</span></code>
method. It also includes a host of delicious icing to make coding
cookies in your controllers very convenient. Before attempting to
use the CookieComponent, you must make sure that &#8216;Cookie&#8217; is listed
in your controllers&#8217; $components array.</p>
<p>Controller Setup
控制器设置
================</p>
<p>有许多控制器变量的来允许你配置cookies创建和管理。请在控制器的beforeFilter()方法定义这些
特殊的变量,来使得定义CookieComponent如何工作。</p>
<p>There are a number of controller variables that allow you to
configure the way cookies are created and managed. Defining these
special variables in the beforeFilter() method of your controller
allows you to define how the CookieComponent works.</p>
<table border="1" class="docutils">
<colgroup>
<col width="20%" />
<col width="16%" />
<col width="64%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Cookie 变量</th>
<th class="head">默认值</th>
<th class="head">描述</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>string $name</td>
<td>&#8216;CakeCookie&#8217;</td>
<td>cookie名.</td>
</tr>
<tr class="row-odd"><td>string $key</td>
<td>null</td>
<td><p class="first">这个字符串用来加密
值写进cookie.
这个字符串应该是随机的并且难以去猜。</p>
<p class="last">当使用rijndael加密方式，值的长度会超过32 bytes。</p>
</td>
</tr>
<tr class="row-even"><td>string $domain</td>
<td>&#8216;&#8217;</td>
<td>cookie允许访问的主机名. 例如：
使用&#8217;.yourdomain.com&#8217; 可以允许所有从你的子域名访问</td>
</tr>
<tr class="row-odd"><td>int or string</td>
<td>&#8216;5 Days&#8217;</td>
<td>cookie过期时间. 数字类型会被解析为秒，当值为0等价于
&#8216;session cookie&#8217;: 例如： 浏览器关闭就会过期。
若为字符型，会被PHP函数strtotime()解析
可以直接在write()方法中设置。</td>
</tr>
<tr class="row-even"><td>string $path</td>
<td>&#8216;/&#8217;</td>
<td>cookie采用的服务器路径。
如果$path设置为&#8217;/foo/&#8217;, cookie仅会在/foo/目录和所有的
子目录中生效，默认值是整个域名，可以直接在write()方法
中设置。</td>
</tr>
<tr class="row-odd"><td>boolean $secure</td>
<td>false</td>
<td>指明cookie只能通过安全的HTTPS连接传输。
当设为true，为安全连接时，cookie只会被设置，
也可以直接在write()方法中设置。</td>
</tr>
<tr class="row-even"><td>boolean
$httpOnly</td>
<td>false</td>
<td>设置true仅允许HTTP访问cookies. 禁止在Javascript中
访问。</td>
</tr>
</tbody>
</table>
<p>下面是控制器中的代码片段。来展示如何引入CookieComponent并且为&#8217;example.com&#8217;域名设置了
名称为&#8217;baker_id&#8217;的安全链接，路径为‘/bakers/preferences/’
过期时间一个小时和只允许HTTP访问的cookie:</p>
<p>The following snippet of controller code shows how to include the
CookieComponent and set up the controller variables needed to write
a cookie named &#8216;baker_id&#8217; for the domain &#8216;example.com&#8217; which needs
a secure connection, is available on the path
‘/bakers/preferences/’, expires in one hour and is HTTP only:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Cookie&#39;</span><span class="p">);</span>
<span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">parent</span><span class="o">::</span><span class="na">beforeFilter</span><span class="p">();</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">name</span> <span class="o">=</span> <span class="s1">&#39;baker_id&#39;</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">time</span> <span class="o">=</span> <span class="mi">3600</span><span class="p">;</span>  <span class="c1">// or &#39;1 hour&#39;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">path</span> <span class="o">=</span> <span class="s1">&#39;/bakers/preferences/&#39;</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">domain</span> <span class="o">=</span> <span class="s1">&#39;example.com&#39;</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">secure</span> <span class="o">=</span> <span class="k">true</span><span class="p">;</span>  <span class="c1">// i.e. only sent if using secure HTTPS</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">key</span> <span class="o">=</span> <span class="s1">&#39;qSI232qs*&amp;sXOw!adre@34SAv!@*(XSL#$%)asGb$@11~_+!@#HKis~#^&#39;</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">httpOnly</span> <span class="o">=</span> <span class="k">true</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>接下来，让我们看下如何使用Cookie组件中的各种方法。
Next, let’s look at how to use the different methods of the Cookie
Component.</p>
<p>Using the Component
使用组件
===================</p>
<p>CookieComponent提供了一系列处理Cookies的方法。
The CookieComponent offers a number of methods for working with Cookies.</p>
<dl class="method">
<dt id="CookieComponent::write">
<code class="descclassname">CookieComponent::</code><code class="descname">write</code><span class="sig-paren">(</span><em>mixed $key</em>, <em>mixed $value = null</em>, <em>boolean $encrypt = true</em>, <em>mixed $expires = null</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::write" title="永久链接至目标">¶</a></dt>
<dd><p>write()方法是cookie组件的核心，$key是cookie的变量名，$value是要存储的信息:</p>
<p>The write() method is the heart of cookie component, $key is the
cookie variable name you want, and the $value is the information to
be stored:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>通过点记法中的键名参数可以对变量进行分组::
You can also group your variables by supplying dot notation in the
key parameter:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User.name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User.role&#39;</span><span class="p">,</span> <span class="s1">&#39;Lead&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>如果想一次写入多个cookie值，可以传个数组::
If you want to write more than one value to the cookie at a time,
you can pass an array:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Larry&#39;</span><span class="p">,</span> <span class="s1">&#39;role&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Lead&#39;</span><span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>cookie中所有的值默认被加密。如果想以纯文本存储。设置write()方法的第三个
参数为false。对cookie值执行的是相当简单的加密系统。用到了``Security.salt``
和配置类中预定义的变量``Security.cipherSeed``。为了更加安全，可以改变
app/Config/core.php中的``Security.cipherSeed``。</p>
<p>All values in the cookie are encrypted by default. If you want to
store the values as plain-text, set the third parameter of the
write() method to false. The encryption performed on cookie values
is fairly uncomplicated encryption system. It uses
<code class="docutils literal"><span class="pre">Security.salt</span></code> and a predefined Configure class var
<code class="docutils literal"><span class="pre">Security.cipherSeed</span></code> to encrypt values. To make your cookies
more secure you should change <code class="docutils literal"><span class="pre">Security.cipherSeed</span></code> in
app/Config/core.php to ensure a better encryption.:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>
</pre></div>
</div>
<p>最后一个参数是$expires，cookie过期的秒数。为了方便，也可以传递一个
php方法strtotime()理解的日期字符串。</p>
<p>The last parameter to write is $expires – the number of seconds
before your cookie will expire. For convenience, this parameter can
also be passed as a string that the php strtotime() function
understands:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Both cookies expire in one hour.</span>
<span class="c1">// 两个cookies将在一小时后过期</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;first_name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">,</span> <span class="mi">3600</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;last_name&#39;</span><span class="p">,</span> <span class="s1">&#39;Masters&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">,</span> <span class="s1">&#39;1 hour&#39;</span><span class="p">);</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::read">
<code class="descclassname">CookieComponent::</code><code class="descname">read</code><span class="sig-paren">(</span><em>mixed $key = null</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::read" title="永久链接至目标">¶</a></dt>
<dd><p>读取指定$key的cookie的变量值
This method is used to read the value of a cookie variable with the
name specified by $key.:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Outputs “Larry”</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">);</span>

<span class="c1">// You can also use the dot notation for read</span>
<span class="c1">// 也可以使用点记法</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;User.name&#39;</span><span class="p">);</span>

<span class="c1">// To get the variables which you had grouped</span>
<span class="c1">// using the dot notation as an array use something like</span>
<span class="c1">// 获取组中的变量集合</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">);</span>

<span class="c1">// this outputs something like array(&#39;name&#39; =&gt; &#39;Larry&#39;, &#39;role&#39; =&gt; &#39;Lead&#39;)</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::check">
<code class="descclassname">CookieComponent::</code><code class="descname">check</code><span class="sig-paren">(</span><em>$key</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::check" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$key</strong> (<em>string</em>) &#8211; The key to check.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>// 检测key/path是否存在，并且不是空值。
Used to check if a key/path exists and has not-null value.</p>
<div class="versionadded">
<p><span class="versionmodified">2.3 新版功能: </span><code class="docutils literal"><span class="pre">CookieComponent::check()</span></code> was added in 2.3</p>
</div>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::delete">
<code class="descclassname">CookieComponent::</code><code class="descname">delete</code><span class="sig-paren">(</span><em>mixed $key</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::delete" title="永久链接至目标">¶</a></dt>
<dd><p>删除指定$key的cookie变量。可用点记法表示:</p>
<p>Deletes a cookie variable of the name in $key. Works with dot
notation:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Delete a variable</span>
<span class="c1">// 删除一个cookie变量</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">delete</span><span class="p">(</span><span class="s1">&#39;bar&#39;</span><span class="p">);</span>

<span class="c1">// Delete the cookie variable bar, but not all under foo</span>
<span class="c1">// 删除foo下的cookie变量bar，并不是foo下所有变量。</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">delete</span><span class="p">(</span><span class="s1">&#39;foo.bar&#39;</span><span class="p">);</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::destroy">
<code class="descclassname">CookieComponent::</code><code class="descname">destroy</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::destroy" title="永久链接至目标">¶</a></dt>
<dd><p>销毁当前cookie</p>
<p>Destroys the current cookie.</p>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::type">
<code class="descclassname">CookieComponent::</code><code class="descname">type</code><span class="sig-paren">(</span><em>$type</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::type" title="永久链接至目标">¶</a></dt>
<dd><p>改变加密模式。默认使用&#8217;cipher&#8217;模式。可以使用&#8217;rijndael&#8217;模式来提高安全性。</p>
<p>Allows you to change the encryption scheme.  By default the &#8216;cipher&#8217; scheme
is used. However, you should use the &#8216;rijndael&#8217; scheme for improved
security.</p>
<div class="versionchanged">
<p><span class="versionmodified">在 2.2 版更改: </span>The &#8216;rijndael&#8217; type was added.</p>
</div>
</dd></dl>

</div>


			</div>
		</div>

		
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="zh">
			<aside class="sidebar">
				<div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../index.html">欢迎</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">安装</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../getting-started.html">入门指南</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cakephp-overview.html">CakePHP 概述</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../controllers.html">控制器</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">视图</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../models.html">模型</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../core-libraries.html">核心库</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../toc-general-purpose.html">通用</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-behaviors.html">行为</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../toc-components.html">组件</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="pagination.html">分页</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html#pagination">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3"><a class="reference internal" href="sessions.html">Sessions</a></li>
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication 认证</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html">Form tampering prevention</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html#csrf-protection">CSRF protection</a></li>
<li class="toctree-l3"><a class="reference internal" href="request-handling.html">请求处理</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="access-control-lists.html">访问控制列表组件</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../toc-helpers.html">助件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-utilities.html">工具</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">插件</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Shells，任务与命令行工具</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development.html">开发</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">部署</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">教程 &amp; 实例</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">贡献</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

				</div>
			</aside>
			<aside class="sidebar">
				<div class="mb30 row">
				</div>
			</aside>
		</div>
	</div>
</div>

<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4  social text-center">
				<div class="col-sm-3 col-xs-3">
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						<div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 social-footer text-center ">
				<a href="#">发现翻译错误? 请在下面留言</a>
				<a href="https://github.com/blackpuppy/docs/wiki" target="_blank">我要加入翻译</a>
				<a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
				<a href="http://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="http://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="http://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
				<a href="http://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
				<a href="http://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
				<a href="http://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">
			<div class="col-sm-12 col-md-3">
				<div class="footer-widget t-footer">
					<div class="col-md-12">
						<a href="https://www.openhub.net/p/cakephp">
							<img src="../../_static/open-hub.png">
						</a>
						<div class="mt10">
							<a href="https://www.rackspace.com/">
								<img src="../../_static/rackspace.png">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-9">
				<div class="col-md-3 col-sm-6 business-solution">
					<ul class="footer-menu">
						<li class="menu-title">
	<a href="http://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
	<a href="http://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
							&copy; 版权所有 2016, Cake Software Foundation, Inc.
						最后更新于 8月 10, 2016.
						Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F201cbc61deaf9f7ffb521fb23e83db40' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"cakephpchina"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
  </body>
</html>