
<!DOCTYPE html>



<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Request Handling" lang="zh_CN" name="title" />
<meta content="handler component,javascript libraries,public components,null returns,model data,request data,content types,file extensions,ajax,meth,content type,array,conjunction,cakephp,insight,php" lang="zh_CN" name="keywords" />

    <title>请求处理 &mdash; CakePHP Cookbook 2.x 文档</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.x',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <script type="text/javascript" src="../../_static/app.js"></script>
    <script type="text/javascript" src="../../_static/modernizr.foundation.js"></script>
    <script type="text/javascript" src="../../_static/foundation.js"></script>
    <link rel="top" title="CakePHP Cookbook 2.x 文档" href="../../index.html" />
    <link rel="up" title="组件" href="../toc-components.html" />
    <link rel="next" title="Cookie" href="cookie.html" />
    <link rel="prev" title="Form tampering prevention" href="security-component.html" />
<link href="../../_static/favicon.ico" type="image/x-icon" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="alternate" hreflang="en" href="../../../en/core-libraries/components/request-handling.html" /><link rel="alternate" hreflang="pt" href="../../../pt/core-libraries/components/request-handling.html" /><link rel="alternate" hreflang="es" href="../../../es/core-libraries/components/request-handling.html" /><link rel="alternate" hreflang="ja" href="../../../ja/core-libraries/components/request-handling.html" /><link rel="alternate" hreflang="fr" href="../../../fr/core-libraries/components/request-handling.html" />

<link rel="search" type="application/opensearchdescription+xml" title="CakePHP Book 2.x Search" href="../../_static/opensearchdescription-book-2-x.xml">
<script type="text/javascript">
window.lang = "zh_CN";
</script>

  </head>
  <body>

<div id="container">

<div id="cakephp-global-navigation">
	<ul>
		<li class="main"><a href="http://cakephp.org">CakePHP</a></li>
		<li class="primary"><a href="#" class="empty">Downloads</a>
			<ul class="second-level">
				<li><a href="https://github.com/cakephp/cakephp/tags">Releases</a></li>
				<li><a href="http://pear.cakephp.org">Pear channel</a></li>
			</ul>
		</li>
		<li class="primary"><a href="#" class="empty">Documentation</a>
			<ul class="second-level">
				<li><a href="http://api.cakephp.org">API</a></li>
				<li><a href="http://book.cakephp.org">Book</a></li>
			</ul>
		</li>
		<li class="primary"><a href="http://community.cakephp.org">Community</a>
			<ul class="second-level">
				<li><a href="http://webchat.freenode.net/?channels=cakephp&uio=MT1mYWxzZSY5PXRydWUmMTE9MjQ2b8">Help &amp; Support</a></li>
				<li><a href="https://github.com/cakephp/cakephp/issues">Issues</a></li>
				<li><a href="http://bakery.cakephp.org">The Bakery</a></li>
				<li><a href="http://stackoverflow.com/tags/cakephp">Stack Overflow</a></li>
				<li><a href="http://www.facebook.com/groups/cake.community">Facebook Group</a></li>
				<li><a href="http://goo.gl/mSC0s">Google+ Community</a></li>
				<li><a href="http://www.youtube.com/user/CakePHP">YouTube Channel</a></li>
				<li><a href="http://podcast.cakephp.org">CakePHP Podcast</a></li>
				<li><a href="http://twitter.com/CakePHP">Follow us on Twitter</a></li>
				<li><a href="http://groups.google.com/group/cake-php">Google Group</a></li>
				<li><a href="http://github.com/cakephp/cakephp/contributors">Contributors</a></li>
				<li><a href="http://plugins.cakephp.org">Plugins &amp; Packages</a></li>
				<li><a href="http://community.cakephp.org/get-involved">Get Involved</a></li>
				<li><a href="http://community.cakephp.org/guidelines">Guidelines</a></li>
				<li><a href="http://cakefest.org">CakeFest</a></li>
				<li><a href="http://cakephp.org/logos">Logo</a></li>
			</ul>
		</li>
		<li class="primary"><a href="http://cakephp.org/services">Services</a>
			<ul class="second-level">
				<li><a href="http://cakephp.org/services/certification">Certification</a></li>
				<li><a href="http://cakephp.org/services/consultation">Consultation</a></li>
				<li><a href="http://cakephp.org/services/support">Support</a></li>
				<li><a href="http://training.cakephp.org">Training</a></li>
			</ul>
		</li>
	</ul>
</div>

<div class="masthead">
	<div class="header-backing"></div>
	<div class="searchbar row">
		<div class="columns three phone-one">
			<a class="logo" href="../../contents.html">
			<img src="../../_static/cake-logo.png" alt="CakePHP" width="70" />
			</a>
		</div>
		
<div id="searchbox" class="columns nine phone-three">

	<form id="searchform" class="search" action="../../search.html" method="get">
		<input class="search-input" autocomplete="off" type="search" name="q" size="18" />
		<input class="search-submit search-big button red" type="submit" value="搜索" />
		<input type="hidden" name="check_keywords" value="yes" />
		<input type="hidden" name="area" value="default" />

		<a href="#" id="tablet-nav" class="show-on-phones pale button small">Nav</a>
	</form>

</div>
	</div>
</div>
<div class="breadcrumb-header">
	<div class="related row">
		<div class="columns three root-link">
			<a href="../../contents.html">Cookbook 2.x</a>
		</div>
		<div class="columns nine">
			<ul class="inline breadcrumb">
			<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="../../core-libraries.html"  itemprop="url"><span itemprop="title">核心库</span></a>
			</li>
			<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="../toc-components.html" accesskey="U" itemprop="url"><span itemprop="title">组件</span></a>
			</li>
			</ul>
			<div class="versions dropdown">
				<a href="#">2.x Book</a>
				<ul>
					<li><a href="http://book.cakephp.org/3.0/en">3.0 Book</a></li>
					<li><a href="http://book.cakephp.org/1.3/zh_CN/">1.3 Book</a></li>
					<li><a href="http://book.cakephp.org/1.2/zh_CN/">1.2 Book</a></li>
					<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
				</ul>
			</div>

			<div class="languages dropdown">
				<a href="#">zh_CN</a>

				<ul>
				
					<li><a href="../../../en/core-libraries/components/request-handling.html">en</a></li>
				
					<li><a href="../../../pt/core-libraries/components/request-handling.html">pt</a></li>
				
					<li><a href="../../../es/core-libraries/components/request-handling.html">es</a></li>
				
					<li><a href="../../../ja/core-libraries/components/request-handling.html">ja</a></li>
				
					<li><a href="../../../fr/core-libraries/components/request-handling.html">fr</a></li>
				
					<li></li>
				
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="content row">
	<div class="document columns nine push-three">
		<div class="body"><a class="button pale improve" href="https://github.com/cakephp/docs/edit/master/zh/core-libraries/components/request-handling.rst" target="_blank">Improve this Doc</a>
  <div class="section" id="id1">
<h1>请求处理<a class="headerlink" href="#id1" title="永久链接至标题">¶</a></h1>
<dl class="class">
<dt id="RequestHandlerComponent">
<em class="property">class </em><tt class="descname">RequestHandlerComponent</tt><big>(</big><em>ComponentCollection $collection</em>, <em>array $settings = array()</em><big>)</big><a class="headerlink" href="#RequestHandlerComponent" title="永久链接至目标">¶</a></dt>
<dd></dd></dl>

<p>CakePHP中的请求处理组件可以获得HTTP请求中的额外信息。
可以使用它来通知控制器
Ajax以及获得更多的内容类型
使得客户端接收并自动切换到适当的页面布局
当文件扩展名被启用。</p>
<p>The Request Handler component is used in CakePHP to obtain
additional information about the HTTP requests that are made to
your applications. You can use it to inform your controllers about
Ajax as well as gain additional insight into content types that the
client accepts and automatically changes to the appropriate layout
when file extensions are enabled.</p>
<p>By default RequestHandler will automatically detect Ajax requests
based on the HTTP-X-Requested-With header that many javascript
libraries use. When used in conjunction with
<a class="reference internal" href="../../development/routing.html#Router::parseExtensions" title="Router::parseExtensions"><tt class="xref php php-meth docutils literal"><span class="pre">Router::parseExtensions()</span></tt></a> RequestHandler will automatically switch
the layout and view files to those that match the requested type.
Furthermore, if a helper with the same name as the requested
extension exists, it will be added to the Controllers Helper array.
Lastly, if XML/JSON data is POST&#8217;ed to your Controllers, it will be
parsed into an array which is assigned to <tt class="docutils literal"><span class="pre">$this-&gt;request-&gt;data</span></tt>,
and can then be saved as model data. In order to make use of
RequestHandler it must be included in your $components array:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>

    <span class="c1">// Rest of controller</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Obtaining Request Information
获得请求信息
=============================</p>
<p>请求处理程序有几个提供给客户端请求信息的方法。
Request Handler has several methods that provide information about
the client and its request.</p>
<dl class="method">
<dt id="RequestHandlerComponent::accepts">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">accepts</tt><big>(</big><em>$type = null</em><big>)</big><a class="headerlink" href="#RequestHandlerComponent::accepts" title="永久链接至目标">¶</a></dt>
<dd><p>$type can be a string, or an array, or null. If a string, accepts
will return true if the client accepts the content type. If an
array is specified, accepts return true if any one of the content
types is accepted by the client. If null returns an array of the
content-types that the client accepts. For example:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span class="k">class</span> <span class="nc">PostsController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">(</span><span class="s1">&#39;html&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="c1">// 如果客户端只接收HTML (text/html)请求的执行代码</span>
            <span class="c1">// Execute code only if client accepts an HTML (text/html) response</span>
        <span class="p">}</span> <span class="k">elseif</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">(</span><span class="s1">&#39;xml&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="c1">// 如果客户端只接收XML请求的执行代码</span>
            <span class="c1">// Execute XML-only code</span>
        <span class="p">}</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;xml&#39;</span><span class="p">,</span> <span class="s1">&#39;rss&#39;</span><span class="p">,</span> <span class="s1">&#39;atom&#39;</span><span class="p">)))</span> <span class="p">{</span>
            <span class="c1">// 如果客户端接收XML, RSS 或 Atom请求的执行代码</span>
            <span class="c1">// Executes if the client accepts any of the above: XML, RSS or Atom</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</dd></dl>

<p>其他的请求&#8217;类型&#8217;检测方式包含：
Other request &#8216;type&#8217; detection methods include:</p>
<dl class="method">
<dt id="RequestHandlerComponent::isXml">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">isXml</tt><big>(</big><big>)</big><a class="headerlink" href="#RequestHandlerComponent::isXml" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>当前true，如果当前的响应是XML类型。</div></blockquote>
<p>Returns true if the current request accepts XML as a response.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isRss">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">isRss</tt><big>(</big><big>)</big><a class="headerlink" href="#RequestHandlerComponent::isRss" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>当前true如果当前的响应是RSS类型。</div></blockquote>
<p>Returns true if the current request accepts RSS as a response.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isAtom">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">isAtom</tt><big>(</big><big>)</big><a class="headerlink" href="#RequestHandlerComponent::isAtom" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>当前true如果当前的响应是Atom类型。</div></blockquote>
<p>Returns true if the current call accepts an Atom response, false
otherwise.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isMobile">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">isMobile</tt><big>(</big><big>)</big><a class="headerlink" href="#RequestHandlerComponent::isMobile" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>返回true,如果用户代理字符串匹配一个移动web浏览器,或者
如果客户接受WAP内容。支持移动客户端用户代理字符串:</div></blockquote>
<p>Returns true if user agent string matches a mobile web browser, or
if the client accepts WAP content. The supported Mobile User Agent
strings are:</p>
<ul class="simple">
<li>Android</li>
<li>AvantGo</li>
<li>BlackBerry</li>
<li>DoCoMo</li>
<li>Fennec</li>
<li>iPad</li>
<li>iPhone</li>
<li>iPod</li>
<li>J2ME</li>
<li>MIDP</li>
<li>NetFront</li>
<li>Nokia</li>
<li>Opera Mini</li>
<li>Opera Mobi</li>
<li>PalmOS</li>
<li>PalmSource</li>
<li>portalmmm</li>
<li>Plucker</li>
<li>ReqwirelessWeb</li>
<li>SonyEricsson</li>
<li>Symbian</li>
<li>UP.Browser</li>
<li>webOS</li>
<li>Windows CE</li>
<li>Windows Phone OS</li>
<li>Xiino</li>
</ul>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isWap">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">isWap</tt><big>(</big><big>)</big><a class="headerlink" href="#RequestHandlerComponent::isWap" title="永久链接至目标">¶</a></dt>
<dd><p>Returns true if the client accepts WAP content.
如果客户端接收到的是WAP内容，返回true。</p>
</dd></dl>

<p>All of the above request detection methods can be used in a similar
fashion to filter functionality intended for specific content
types. For example when responding to Ajax requests, you often will
want to disable browser caching, and change the debug level.
However, you want to allow caching for non-ajax requests. The
following would accomplish that:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">is</span><span class="p">(</span><span class="s1">&#39;ajax&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">disableCache</span><span class="p">();</span>
<span class="p">}</span>
<span class="c1">// Continue Controller action</span>
</pre></div>
</div>
<p>Obtaining Additional Client Information
获得额外的客户端信息
=======================================</p>
<dl class="method">
<dt id="RequestHandlerComponent::getAjaxVersion">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">getAjaxVersion</tt><big>(</big><big>)</big><a class="headerlink" href="#RequestHandlerComponent::getAjaxVersion" title="永久链接至目标">¶</a></dt>
<dd><p>如果请求的是Ajax，返回Prototype版本，否则为空字符串。在Prototype库中会设置一个特殊的
名为Prototype version的HTTP头。
Gets Prototype version if call is Ajax, otherwise empty string. The
Prototype library sets a special &#8220;Prototype version&#8221; HTTP header.</p>
</dd></dl>

<p>Automatically decoding request data
自动解码请求数据
===================================</p>
<dl class="method">
<dt id="RequestHandlerComponent::addInputType">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">addInputType</tt><big>(</big><em>$type</em>, <em>$handler</em><big>)</big><a class="headerlink" href="#RequestHandlerComponent::addInputType" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$type</strong> (<em>string</em>) &#8211; The content type alias this attached decoder is for.
e.g. &#8216;json&#8217; or &#8216;xml&#8217;</li>
<li><strong>$handler</strong> (<em>array</em>) &#8211; The handler information for the type.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Add a request data decoder. The handler should contain a callback, and any
additional arguments for the callback.  The callback should return
an array of data contained in the request input.  For example adding a CSV
handler in your controllers&#8217; beforeFilter could look like:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span class="nv">$parser</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$data</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$rows</span> <span class="o">=</span> <span class="nb">str_getcsv</span><span class="p">(</span><span class="nv">$data</span><span class="p">,</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">);</span>
    <span class="k">foreach</span> <span class="p">(</span><span class="nv">$rows</span> <span class="k">as</span> <span class="o">&amp;</span><span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
        <span class="nv">$row</span> <span class="o">=</span> <span class="nb">str_getcsv</span><span class="p">(</span><span class="nv">$row</span><span class="p">,</span> <span class="s1">&#39;,&#39;</span><span class="p">);</span>
    <span class="p">}</span>
    <span class="k">return</span> <span class="nv">$rows</span><span class="p">;</span>
<span class="p">};</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">addInputType</span><span class="p">(</span><span class="s1">&#39;csv&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="nv">$parser</span><span class="p">));</span>
</pre></div>
</div>
<p>The above example requires PHP 5.3, however you can use any
<a class="reference external" href="http://php.net/callback">callable</a> for the handling function.  You can
also pass additional arguments to the callback, this is useful for callbacks
like <tt class="docutils literal"><span class="pre">json_decode</span></tt>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">addInputType</span><span class="p">(</span><span class="s1">&#39;json&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;json_decode&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">));</span>
</pre></div>
</div>
<p>The above will make <tt class="docutils literal"><span class="pre">$this-&gt;request-&gt;data</span></tt> an array of the JSON input data,
without the additional <tt class="docutils literal"><span class="pre">true</span></tt> you&#8217;d get a set of <tt class="docutils literal"><span class="pre">StdClass</span></tt> objects.</p>
</dd></dl>

<div class="section" id="responding-to-requests">
<h2>Responding To Requests<a class="headerlink" href="#responding-to-requests" title="永久链接至标题">¶</a></h2>
<p>In addition to request detection RequestHandler also provides easy
access to altering the output and content type mappings for your
application.</p>
<dl class="method">
<dt id="RequestHandlerComponent::setContent">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">setContent</tt><big>(</big><em>$name</em>, <em>$type = null</em><big>)</big><a class="headerlink" href="#RequestHandlerComponent::setContent" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$name</strong> (<em>string</em>) &#8211; The name or file extension of the Content-type
ie. html, css, json, xml.</li>
<li><strong>$type</strong> (<em>mixed</em>) &#8211; The mime-type(s) that the Content-type maps to.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>setContent adds/sets the Content-types for the given name. Allows
content-types to be mapped to friendly aliases and or extensions.
This allows RequestHandler to automatically respond to requests of
each type in its startup method. If you are using
Router::parseExtension, you should use the file extension as the
name of the Content-type. Furthermore, these content types are used
by prefers() and accepts().</p>
<p>setContent is best used in the beforeFilter() of your controllers,
as this will best leverage the automagicness of content-type
aliases.</p>
<p>The default mappings are:</p>
<ul class="simple">
<li><strong>javascript</strong> text/javascript</li>
<li><strong>js</strong> text/javascript</li>
<li><strong>json</strong> application/json</li>
<li><strong>css</strong> text/css</li>
<li><strong>html</strong> text/html, */*</li>
<li><strong>text</strong> text/plain</li>
<li><strong>txt</strong> text/plain</li>
<li><strong>csv</strong> application/vnd.ms-excel, text/plain</li>
<li><strong>form</strong> application/x-www-form-urlencoded</li>
<li><strong>file</strong> multipart/form-data</li>
<li><strong>xhtml</strong> application/xhtml+xml, application/xhtml, text/xhtml</li>
<li><strong>xhtml-mobile</strong> application/vnd.wap.xhtml+xml</li>
<li><strong>xml</strong> application/xml, text/xml</li>
<li><strong>rss</strong> application/rss+xml</li>
<li><strong>atom</strong> application/atom+xml</li>
<li><strong>amf</strong> application/x-amf</li>
<li><strong>wap</strong> text/vnd.wap.wml, text/vnd.wap.wmlscript,
image/vnd.wap.wbmp</li>
<li><strong>wml</strong> text/vnd.wap.wml</li>
<li><strong>wmlscript</strong> text/vnd.wap.wmlscript</li>
<li><strong>wbmp</strong> image/vnd.wap.wbmp</li>
<li><strong>pdf</strong> application/pdf</li>
<li><strong>zip</strong> application/x-zip</li>
<li><strong>tar</strong> application/x-tar</li>
</ul>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::prefers">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">prefers</tt><big>(</big><em>$type = null</em><big>)</big><a class="headerlink" href="#RequestHandlerComponent::prefers" title="永久链接至目标">¶</a></dt>
<dd><p>Determines which content-types the client prefers. If no parameter
is given the most likely content type is returned. If $type is an
array the first type the client accepts will be returned.
Preference is determined primarily by the file extension parsed by
Router if one has been provided, and secondly by the list of
content-types in HTTP_ACCEPT.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::renderAs">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">renderAs</tt><big>(</big><em>$controller</em>, <em>$type</em><big>)</big><a class="headerlink" href="#RequestHandlerComponent::renderAs" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$controller</strong> (<a class="reference internal" href="../../controllers.html#Controller" title="Controller"><em>Controller</em></a>) &#8211; Controller Reference</li>
<li><strong>$type</strong> (<em>string</em>) &#8211; friendly content type name to render content for ex.
xml, rss.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Change the render mode of a controller to the specified type. Will
also append the appropriate helper to the controller&#8217;s helper array
if available and not already in the array.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::respondAs">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">respondAs</tt><big>(</big><em>$type</em>, <em>$options</em><big>)</big><a class="headerlink" href="#RequestHandlerComponent::respondAs" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$type</strong> (<em>string</em>) &#8211; Friendly content type name ex. xml, rss or a full
content type like application/x-shockwave</li>
<li><strong>$options</strong> (<em>array</em>) &#8211; If $type is a friendly type name that has more than
one content association, $index is used to select the content
type.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Sets the response header based on content-type map names.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::responseType">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">responseType</tt><big>(</big><big>)</big><a class="headerlink" href="#RequestHandlerComponent::responseType" title="永久链接至目标">¶</a></dt>
<dd><p>Returns the current response type Content-type header or null if
one has yet to be set.</p>
</dd></dl>

</div>
<div class="section" id="taking-advantage-of-http-cache-validation">
<h2>Taking advantage of HTTP cache validation<a class="headerlink" href="#taking-advantage-of-http-cache-validation" title="永久链接至标题">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">2.1 新版功能.</span></p>
</div>
<p>The HTTP cache validation model is one of the processes used for cache
gateways, also known as reverse proxies, to determine if they can serve a
stored copy of a response to the client. Under this model, you mostly save
bandwidth, but when used correctly you can also save some CPU processing,
reducing this way response times.</p>
<p>Enabling the RequestHandlerComponent in your controller automatically activates
a check done before rendering the view. This check compares the response object
against the original request to determine whether the response was not modified
since the last time the client asked for it.</p>
<p>If response is evaluated as not modified, then the view rendering process is
stopped, saving processing time an  no content is returned to the client, saving
bandwidth. The response status code is then set to <cite>304 Not Modified</cite>.</p>
<p>You can opt-out this automatic checking by setting the <tt class="docutils literal"><span class="pre">checkHttpCache</span></tt>
setting to false:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;RequestHandler&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;checkHttpCache&#39;</span> <span class="o">=&gt;</span> <span class="k">false</span>
<span class="p">));</span>
</pre></div>
</div>
</div>
<div class="section" id="using-custom-viewclasses">
<h2>Using custom ViewClasses<a class="headerlink" href="#using-custom-viewclasses" title="永久链接至标题">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">2.3 新版功能.</span></p>
</div>
<p>When using JsonView/XmlView you might want to override the default serialization
with a custom View class, or add View classes for other types.</p>
<p>You can map existing and new types to your custom classes.</p>
<dl class="method">
<dt id="RequestHandlerComponent::viewClassMap">
<tt class="descclassname">RequestHandlerComponent::</tt><tt class="descname">viewClassMap</tt><big>(</big><em>$type</em>, <em>$viewClass</em><big>)</big><a class="headerlink" href="#RequestHandlerComponent::viewClassMap" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$type</strong> (<em>string|array</em>) &#8211; The type string or map array with format <tt class="docutils literal"><span class="pre">array('json'</span> <span class="pre">=&gt;</span> <span class="pre">'MyJson')</span></tt></li>
<li><strong>$viewClass</strong> (<em>string</em>) &#8211; The viewClass to be used for the type without <cite>View</cite> appended</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<p>You can also set this automatically by using the <tt class="docutils literal"><span class="pre">viewClassMap</span></tt> setting:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;RequestHandler&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;viewClassMap&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;json&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.MyJson&#39;</span><span class="p">,</span>
            <span class="s1">&#39;xml&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.MyXml&#39;</span><span class="p">,</span>
            <span class="s1">&#39;csv&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.Csv&#39;</span>
        <span class="p">)</span>
<span class="p">));</span>
</pre></div>
</div>
</div>
</div>


		</div>
	</div>

	<div class="sidebar columns three pull-nine">
<div id="sidebar-navigation" class="hide-on-phones">
	<h2 class="hide-on-desktops">Table of Contents</h2>
	<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../index.html">欢迎</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">安装</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../getting-started.html">入门指南</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cakephp-overview.html">CakePHP 概述</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../controllers.html">控制器</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">视图</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../models.html">模型</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../core-libraries.html">核心库</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../toc-general-purpose.html">通用</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-behaviors.html">行为</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../toc-components.html">组件</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3"><a class="reference internal" href="sessions.html">Sessions</a></li>
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication 认证</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html">Form tampering prevention</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html#csrf-protection">CSRF protection</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="">请求处理</a></li>
<li class="toctree-l3"><a class="reference internal" href="cookie.html">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="access-control-lists.html">访问控制列表组件</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../toc-helpers.html">助件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-utilities.html">工具</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">插件</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">命令行与Shells</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development.html">开发</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">部署</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">教程 &amp; 实例</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">贡献</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

<div class="page-contents">
	<h3>Page contents</h3>
	<ul>
<li><a class="reference internal" href="#">请求处理</a><ul>
<li><a class="reference internal" href="#responding-to-requests">Responding To Requests</a></li>
<li><a class="reference internal" href="#taking-advantage-of-http-cache-validation">Taking advantage of HTTP cache validation</a></li>
<li><a class="reference internal" href="#using-custom-viewclasses">Using custom ViewClasses</a></li>
</ul>
</li>
</ul>

</div>
	</div>

</div>

<div class="content row">
	<ul class="related-pages inline">
	<li>
		<a href="../../genindex.html" title="总目录" accesskey="I">索引</a>
	</li>
	<li>
		<a href="cookie.html" title="Cookie" accesskey="N">下一页</a>
	</li>
	<li>
		<a href="security-component.html" title="Form tampering prevention" accesskey="P">上一页</a>
	</li>
	</ul>
</div>

	<div class="footer-push"> </div>
</div>






<div class="footer">
	<div class="row">
		<div class="columns six offset-by-three contribute">
			<strong>Found an issue?</strong>
			Submit a correction on <a href="https://github.com/cakephp/docs">GitHub</a><br />
			<a href="http://book.cakephp.org/2.0/en/contributing/documentation.html">[ documentation on how to contribute ]</a>
		</div>
	</div>
	
	<div class="row">
		<div class="columns nine offset-by-three copyright">
					&copy; 版权所有 2014, Cake Software Foundation, Inc.
				最后更新于 Aug 30, 2015.
				Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.2.3.
		</div>
	</div>
</div>

<div id="nav-modal" class="reveal-modal"> </div>
<div id="inline-search-results"></div>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
  </body>
</html>