

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Request Handling" lang="zh" name="title" />
<meta content="handler component,javascript libraries,public components,null returns,model data,request data,content types,file extensions,ajax,meth,content type,array,conjunction,cakephp,insight,php" lang="zh" name="keywords" />

    <title>请求处理</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="en" href="../../../en/core-libraries/components/request-handling.html" /><link rel="alternate" hreflang="pt" href="../../../pt/core-libraries/components/request-handling.html" /><link rel="alternate" hreflang="es" href="../../../es/core-libraries/components/request-handling.html" /><link rel="alternate" hreflang="ja" href="../../../ja/core-libraries/components/request-handling.html" /><link rel="alternate" hreflang="fr" href="../../../fr/core-libraries/components/request-handling.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 2.x 文档" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 2.x 文档" href="../../index.html" />
    <link rel="up" title="组件" href="../toc-components.html" />
    <link rel="next" title="Cookie" href="cookie.html" />
    <link rel="prev" title="Form tampering prevention" href="security-component.html" />

    <script type="text/javascript">
    window.lang = "zh";
    </script>
  </head>
  <body>

<div id="container">
	
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									
<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
								</ul>
							</li>

							<li><a href="http://cakephp.org/business-solutions">Business Solutions</a></li>
							<li><a href="http://cakephp.org/showcase">Showcase</a></li>

							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
											</ul>
										</div>
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		
		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">
				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
						<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
							<i class="fa fa-bars toggle-modal"></i>
						</button>
					</div>
					<div id="wrap">
						<form class="search" action="../../search.html" method="get">
							<input name="q" type="search" placeholder="What are you looking for?">
							<input id="search_submit" value="搜索" type="submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0 hidden-sm hidden-xs">
							<h2>
								<a href="../../contents.html">
									<span class="glyph_range icon-submenu icon-submenu-cook">B</span>
									CakePHP 2.x <strong>Cookbook</strong>
								</a>
							</h2>
						</div>

						<div class="col-md-4 hidden-sm">
							<form class="search" action="../../search.html" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
									</button>
								</div>
							</form>
						</div>

						
						<div class="col-md-3">
							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Language:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
													role="button" aria-haspopup="true" aria-expanded="false" href="#">
														zh
														<i class="fa fa-menu-en fa-chevron-down"></i>
													</a>
											<ul class="dropdown-menu">
											
												<li><a href="../../../en/core-libraries/components/request-handling.html">en</a></li>
											
												<li><a href="../../../pt/core-libraries/components/request-handling.html">pt</a></li>
											
												<li><a href="../../../es/core-libraries/components/request-handling.html">es</a></li>
											
												<li><a href="../../../ja/core-libraries/components/request-handling.html">ja</a></li>
											
												<li><a href="../../../fr/core-libraries/components/request-handling.html">fr</a></li>
											
												<li></li>
											
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Version:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="http://book.cakephp.org/3.0/zh">3.x Book</a></li>
												<li><a href="http://book.cakephp.org/2.0/zh">2.x Book</a></li>
												<li><a href="http://book.cakephp.org/1.3/zh/">1.3 Book</a></li>
												<li><a href="http://book.cakephp.org/1.2/zh/">1.2 Book</a></li>
												<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>

	
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
				</div>

				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
				</div>
			</div>
		</div>
	</section>

	
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header"></h4>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

<div class="container page-container"><div id="improve-slideout">
		<i class="fa fa-pencil icon-improve"></i>
		<a href="https://github.com/cakephp/docs/edit/master/zh/core-libraries/components/request-handling.rst" target="_blank">
			<div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
		</a>
	</div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

	
	<div class="row">
		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off"><div class="page-contents col-sm-5">
				<h3>Page Contents</h3>
				<ul>
<li><a class="reference internal" href="#">请求处理</a><ul>
<li><a class="reference internal" href="#responding-to-requests">Responding To Requests</a></li>
<li><a class="reference internal" href="#taking-advantage-of-http-cache-validation">Taking advantage of HTTP cache validation</a></li>
<li><a class="reference internal" href="#using-custom-viewclasses">Using custom ViewClasses</a></li>
</ul>
</li>
</ul>

			</div><div class="document-body">
			
  <div class="section" id="id1">
<h1>请求处理<a class="headerlink" href="#id1" title="永久链接至标题">¶</a></h1>
<dl class="class">
<dt id="RequestHandlerComponent">
<em class="property">class </em><code class="descname">RequestHandlerComponent</code><span class="sig-paren">(</span><em>ComponentCollection $collection</em>, <em>array $settings = array()</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent" title="永久链接至目标">¶</a></dt>
<dd></dd></dl>

<p>CakePHP中的请求处理组件可以获得HTTP请求中的额外信息。
可以使用它来通知控制器
Ajax以及获得更多的内容类型
使得客户端接收并自动切换到适当的页面布局
当文件扩展名被启用。</p>
<p>The Request Handler component is used in CakePHP to obtain
additional information about the HTTP requests that are made to
your applications. You can use it to inform your controllers about
Ajax as well as gain additional insight into content types that the
client accepts and automatically changes to the appropriate layout
when file extensions are enabled.</p>
<p>By default RequestHandler will automatically detect Ajax requests
based on the HTTP-X-Requested-With header that many javascript
libraries use. When used in conjunction with
<a class="reference internal" href="../../development/routing.html#Router::parseExtensions" title="Router::parseExtensions"><code class="xref php php-meth docutils literal"><span class="pre">Router::parseExtensions()</span></code></a> RequestHandler will automatically switch
the layout and view files to those that match the requested type.
Furthermore, if a helper with the same name as the requested
extension exists, it will be added to the Controllers Helper array.
Lastly, if XML/JSON data is POST&#8217;ed to your Controllers, it will be
parsed into an array which is assigned to <code class="docutils literal"><span class="pre">$this-&gt;request-&gt;data</span></code>,
and can then be saved as model data. In order to make use of
RequestHandler it must be included in your $components array:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>

    <span class="c1">// Rest of controller</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Obtaining Request Information
获得请求信息
=============================</p>
<p>请求处理程序有几个提供给客户端请求信息的方法。
Request Handler has several methods that provide information about
the client and its request.</p>
<dl class="method">
<dt id="RequestHandlerComponent::accepts">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">accepts</code><span class="sig-paren">(</span><em>$type = null</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::accepts" title="永久链接至目标">¶</a></dt>
<dd><p>$type can be a string, or an array, or null. If a string, accepts
will return true if the client accepts the content type. If an
array is specified, accepts return true if any one of the content
types is accepted by the client. If null returns an array of the
content-types that the client accepts. For example:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">PostsController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">(</span><span class="s1">&#39;html&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="c1">// 如果客户端只接收HTML (text/html)请求的执行代码</span>
            <span class="c1">// Execute code only if client accepts an HTML (text/html) response</span>
        <span class="p">}</span> <span class="k">elseif</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">(</span><span class="s1">&#39;xml&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="c1">// 如果客户端只接收XML请求的执行代码</span>
            <span class="c1">// Execute XML-only code</span>
        <span class="p">}</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;xml&#39;</span><span class="p">,</span> <span class="s1">&#39;rss&#39;</span><span class="p">,</span> <span class="s1">&#39;atom&#39;</span><span class="p">)))</span> <span class="p">{</span>
            <span class="c1">// 如果客户端接收XML, RSS 或 Atom请求的执行代码</span>
            <span class="c1">// Executes if the client accepts any of the above: XML, RSS or Atom</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</dd></dl>

<p>其他的请求&#8217;类型&#8217;检测方式包含：
Other request &#8216;type&#8217; detection methods include:</p>
<dl class="method">
<dt id="RequestHandlerComponent::isXml">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isXml</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isXml" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>当前true，如果当前的响应是XML类型。</div></blockquote>
<p>Returns true if the current request accepts XML as a response.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isRss">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isRss</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isRss" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>当前true如果当前的响应是RSS类型。</div></blockquote>
<p>Returns true if the current request accepts RSS as a response.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isAtom">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isAtom</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isAtom" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>当前true如果当前的响应是Atom类型。</div></blockquote>
<p>Returns true if the current call accepts an Atom response, false
otherwise.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isMobile">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isMobile</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isMobile" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>返回true,如果用户代理字符串匹配一个移动web浏览器,或者
如果客户接受WAP内容。支持移动客户端用户代理字符串:</div></blockquote>
<p>Returns true if user agent string matches a mobile web browser, or
if the client accepts WAP content. The supported Mobile User Agent
strings are:</p>
<ul class="simple">
<li>Android</li>
<li>AvantGo</li>
<li>BlackBerry</li>
<li>DoCoMo</li>
<li>Fennec</li>
<li>iPad</li>
<li>iPhone</li>
<li>iPod</li>
<li>J2ME</li>
<li>MIDP</li>
<li>NetFront</li>
<li>Nokia</li>
<li>Opera Mini</li>
<li>Opera Mobi</li>
<li>PalmOS</li>
<li>PalmSource</li>
<li>portalmmm</li>
<li>Plucker</li>
<li>ReqwirelessWeb</li>
<li>SonyEricsson</li>
<li>Symbian</li>
<li>UP.Browser</li>
<li>webOS</li>
<li>Windows CE</li>
<li>Windows Phone OS</li>
<li>Xiino</li>
</ul>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isWap">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isWap</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isWap" title="永久链接至目标">¶</a></dt>
<dd><p>Returns true if the client accepts WAP content.
如果客户端接收到的是WAP内容，返回true。</p>
</dd></dl>

<p>All of the above request detection methods can be used in a similar
fashion to filter functionality intended for specific content
types. For example when responding to Ajax requests, you often will
want to disable browser caching, and change the debug level.
However, you want to allow caching for non-ajax requests. The
following would accomplish that:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">is</span><span class="p">(</span><span class="s1">&#39;ajax&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">disableCache</span><span class="p">();</span>
<span class="p">}</span>
<span class="c1">// Continue Controller action</span>
</pre></div>
</div>
<p>Obtaining Additional Client Information
获得额外的客户端信息
=======================================</p>
<dl class="method">
<dt id="RequestHandlerComponent::getAjaxVersion">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">getAjaxVersion</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::getAjaxVersion" title="永久链接至目标">¶</a></dt>
<dd><p>如果请求的是Ajax，返回Prototype版本，否则为空字符串。在Prototype库中会设置一个特殊的
名为Prototype version的HTTP头。
Gets Prototype version if call is Ajax, otherwise empty string. The
Prototype library sets a special &#8220;Prototype version&#8221; HTTP header.</p>
</dd></dl>

<p>Automatically decoding request data
自动解码请求数据
===================================</p>
<dl class="method">
<dt id="RequestHandlerComponent::addInputType">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">addInputType</code><span class="sig-paren">(</span><em>$type</em>, <em>$handler</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::addInputType" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$type</strong> (<em>string</em>) &#8211; The content type alias this attached decoder is for.
e.g. &#8216;json&#8217; or &#8216;xml&#8217;</li>
<li><strong>$handler</strong> (<em>array</em>) &#8211; The handler information for the type.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Add a request data decoder. The handler should contain a callback, and any
additional arguments for the callback.  The callback should return
an array of data contained in the request input.  For example adding a CSV
handler in your controllers&#8217; beforeFilter could look like:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$parser</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$data</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$rows</span> <span class="o">=</span> <span class="nb">str_getcsv</span><span class="p">(</span><span class="nv">$data</span><span class="p">,</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">);</span>
    <span class="k">foreach</span> <span class="p">(</span><span class="nv">$rows</span> <span class="k">as</span> <span class="o">&amp;</span><span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
        <span class="nv">$row</span> <span class="o">=</span> <span class="nb">str_getcsv</span><span class="p">(</span><span class="nv">$row</span><span class="p">,</span> <span class="s1">&#39;,&#39;</span><span class="p">);</span>
    <span class="p">}</span>
    <span class="k">return</span> <span class="nv">$rows</span><span class="p">;</span>
<span class="p">};</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">addInputType</span><span class="p">(</span><span class="s1">&#39;csv&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="nv">$parser</span><span class="p">));</span>
</pre></div>
</div>
<p>The above example requires PHP 5.3, however you can use any
<a class="reference external" href="http://php.net/callback">callable</a> for the handling function.  You can
also pass additional arguments to the callback, this is useful for callbacks
like <code class="docutils literal"><span class="pre">json_decode</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">addInputType</span><span class="p">(</span><span class="s1">&#39;json&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;json_decode&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">));</span>
</pre></div>
</div>
<p>The above will make <code class="docutils literal"><span class="pre">$this-&gt;request-&gt;data</span></code> an array of the JSON input data,
without the additional <code class="docutils literal"><span class="pre">true</span></code> you&#8217;d get a set of <code class="docutils literal"><span class="pre">StdClass</span></code> objects.</p>
</dd></dl>

<div class="section" id="responding-to-requests">
<h2>Responding To Requests<a class="headerlink" href="#responding-to-requests" title="永久链接至标题">¶</a></h2>
<p>In addition to request detection RequestHandler also provides easy
access to altering the output and content type mappings for your
application.</p>
<dl class="method">
<dt id="RequestHandlerComponent::setContent">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">setContent</code><span class="sig-paren">(</span><em>$name</em>, <em>$type = null</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::setContent" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$name</strong> (<em>string</em>) &#8211; The name or file extension of the Content-type
ie. html, css, json, xml.</li>
<li><strong>$type</strong> (<em>mixed</em>) &#8211; The mime-type(s) that the Content-type maps to.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>setContent adds/sets the Content-types for the given name. Allows
content-types to be mapped to friendly aliases and or extensions.
This allows RequestHandler to automatically respond to requests of
each type in its startup method. If you are using
Router::parseExtension, you should use the file extension as the
name of the Content-type. Furthermore, these content types are used
by prefers() and accepts().</p>
<p>setContent is best used in the beforeFilter() of your controllers,
as this will best leverage the automagicness of content-type
aliases.</p>
<p>The default mappings are:</p>
<ul class="simple">
<li><strong>javascript</strong> text/javascript</li>
<li><strong>js</strong> text/javascript</li>
<li><strong>json</strong> application/json</li>
<li><strong>css</strong> text/css</li>
<li><strong>html</strong> text/html, */*</li>
<li><strong>text</strong> text/plain</li>
<li><strong>txt</strong> text/plain</li>
<li><strong>csv</strong> application/vnd.ms-excel, text/plain</li>
<li><strong>form</strong> application/x-www-form-urlencoded</li>
<li><strong>file</strong> multipart/form-data</li>
<li><strong>xhtml</strong> application/xhtml+xml, application/xhtml, text/xhtml</li>
<li><strong>xhtml-mobile</strong> application/vnd.wap.xhtml+xml</li>
<li><strong>xml</strong> application/xml, text/xml</li>
<li><strong>rss</strong> application/rss+xml</li>
<li><strong>atom</strong> application/atom+xml</li>
<li><strong>amf</strong> application/x-amf</li>
<li><strong>wap</strong> text/vnd.wap.wml, text/vnd.wap.wmlscript,
image/vnd.wap.wbmp</li>
<li><strong>wml</strong> text/vnd.wap.wml</li>
<li><strong>wmlscript</strong> text/vnd.wap.wmlscript</li>
<li><strong>wbmp</strong> image/vnd.wap.wbmp</li>
<li><strong>pdf</strong> application/pdf</li>
<li><strong>zip</strong> application/x-zip</li>
<li><strong>tar</strong> application/x-tar</li>
</ul>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::prefers">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">prefers</code><span class="sig-paren">(</span><em>$type = null</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::prefers" title="永久链接至目标">¶</a></dt>
<dd><p>Determines which content-types the client prefers. If no parameter
is given the most likely content type is returned. If $type is an
array the first type the client accepts will be returned.
Preference is determined primarily by the file extension parsed by
Router if one has been provided, and secondly by the list of
content-types in HTTP_ACCEPT.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::renderAs">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">renderAs</code><span class="sig-paren">(</span><em>$controller</em>, <em>$type</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::renderAs" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$controller</strong> (<a class="reference internal" href="../../controllers.html#Controller" title="Controller"><em>Controller</em></a>) &#8211; Controller Reference</li>
<li><strong>$type</strong> (<em>string</em>) &#8211; friendly content type name to render content for ex.
xml, rss.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Change the render mode of a controller to the specified type. Will
also append the appropriate helper to the controller&#8217;s helper array
if available and not already in the array.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::respondAs">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">respondAs</code><span class="sig-paren">(</span><em>$type</em>, <em>$options</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::respondAs" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$type</strong> (<em>string</em>) &#8211; Friendly content type name ex. xml, rss or a full
content type like application/x-shockwave</li>
<li><strong>$options</strong> (<em>array</em>) &#8211; If $type is a friendly type name that has more than
one content association, $index is used to select the content
type.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Sets the response header based on content-type map names.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::responseType">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">responseType</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::responseType" title="永久链接至目标">¶</a></dt>
<dd><p>Returns the current response type Content-type header or null if
one has yet to be set.</p>
</dd></dl>

</div>
<div class="section" id="taking-advantage-of-http-cache-validation">
<h2>Taking advantage of HTTP cache validation<a class="headerlink" href="#taking-advantage-of-http-cache-validation" title="永久链接至标题">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">2.1 新版功能.</span></p>
</div>
<p>The HTTP cache validation model is one of the processes used for cache
gateways, also known as reverse proxies, to determine if they can serve a
stored copy of a response to the client. Under this model, you mostly save
bandwidth, but when used correctly you can also save some CPU processing,
reducing this way response times.</p>
<p>Enabling the RequestHandlerComponent in your controller automatically activates
a check done before rendering the view. This check compares the response object
against the original request to determine whether the response was not modified
since the last time the client asked for it.</p>
<p>If response is evaluated as not modified, then the view rendering process is
stopped, saving processing time an  no content is returned to the client, saving
bandwidth. The response status code is then set to <cite>304 Not Modified</cite>.</p>
<p>You can opt-out this automatic checking by setting the <code class="docutils literal"><span class="pre">checkHttpCache</span></code>
setting to false:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;RequestHandler&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;checkHttpCache&#39;</span> <span class="o">=&gt;</span> <span class="k">false</span>
<span class="p">));</span>
</pre></div>
</div>
</div>
<div class="section" id="using-custom-viewclasses">
<h2>Using custom ViewClasses<a class="headerlink" href="#using-custom-viewclasses" title="永久链接至标题">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">2.3 新版功能.</span></p>
</div>
<p>When using JsonView/XmlView you might want to override the default serialization
with a custom View class, or add View classes for other types.</p>
<p>You can map existing and new types to your custom classes.</p>
<dl class="method">
<dt id="RequestHandlerComponent::viewClassMap">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">viewClassMap</code><span class="sig-paren">(</span><em>$type</em>, <em>$viewClass</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::viewClassMap" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">参数:</th><td class="field-body"><ul class="first last simple">
<li><strong>$type</strong> (<em>string|array</em>) &#8211; The type string or map array with format <code class="docutils literal"><span class="pre">array('json'</span> <span class="pre">=&gt;</span> <span class="pre">'MyJson')</span></code></li>
<li><strong>$viewClass</strong> (<em>string</em>) &#8211; The viewClass to be used for the type without <cite>View</cite> appended</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<p>You can also set this automatically by using the <code class="docutils literal"><span class="pre">viewClassMap</span></code> setting:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;RequestHandler&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;viewClassMap&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;json&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.MyJson&#39;</span><span class="p">,</span>
            <span class="s1">&#39;xml&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.MyXml&#39;</span><span class="p">,</span>
            <span class="s1">&#39;csv&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.Csv&#39;</span>
        <span class="p">)</span>
<span class="p">));</span>
</pre></div>
</div>
</div>
</div>


			</div>
		</div>

		
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="zh">
			<aside class="sidebar">
				<div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../index.html">欢迎</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">安装</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../getting-started.html">入门指南</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cakephp-overview.html">CakePHP 概述</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../controllers.html">控制器</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">视图</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../models.html">模型</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../core-libraries.html">核心库</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../toc-general-purpose.html">通用</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-behaviors.html">行为</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../toc-components.html">组件</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="pagination.html">分页</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html#pagination">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3"><a class="reference internal" href="sessions.html">Sessions</a></li>
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication 认证</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html">Form tampering prevention</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html#csrf-protection">CSRF protection</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">请求处理</a></li>
<li class="toctree-l3"><a class="reference internal" href="cookie.html">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="access-control-lists.html">访问控制列表组件</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../toc-helpers.html">助件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-utilities.html">工具</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">插件</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Shells，任务与命令行工具</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development.html">开发</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">部署</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">教程 &amp; 实例</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">贡献</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

				</div>
			</aside>
			<aside class="sidebar">
				<div class="mb30 row">
				</div>
			</aside>
		</div>
	</div>
</div>

<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4  social text-center">
				<div class="col-sm-3 col-xs-3">
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						<div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 social-footer text-center ">
				<a href="#">发现翻译错误? 请在下面留言</a>
				<a href="https://github.com/blackpuppy/docs/wiki" target="_blank">我要加入翻译</a>
				<a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
				<a href="http://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="http://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="http://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
				<a href="http://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
				<a href="http://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
				<a href="http://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">
			<div class="col-sm-12 col-md-3">
				<div class="footer-widget t-footer">
					<div class="col-md-12">
						<a href="https://www.openhub.net/p/cakephp">
							<img src="../../_static/open-hub.png">
						</a>
						<div class="mt10">
							<a href="https://www.rackspace.com/">
								<img src="../../_static/rackspace.png">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-9">
				<div class="col-md-3 col-sm-6 business-solution">
					<ul class="footer-menu">
						<li class="menu-title">
	<a href="http://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
	<a href="http://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
							&copy; 版权所有 2016, Cake Software Foundation, Inc.
						最后更新于 8月 11, 2016.
						Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F201cbc61deaf9f7ffb521fb23e83db40' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"cakephpchina"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
  </body>
</html>