

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Security" lang="zh" name="title" />
<meta content="configurable parameters,security component,configuration parameters,invalid request,protection features,tighter security,holing,php class,meth,404 error,period of inactivity,csrf,array,submission,security class,disable security,unlockActions" lang="zh" name="keywords" />

    <title>Form tampering prevention</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="en" href="../../../en/core-libraries/components/security-component.html" /><link rel="alternate" hreflang="pt" href="../../../pt/core-libraries/components/security-component.html" /><link rel="alternate" hreflang="es" href="../../../es/core-libraries/components/security-component.html" /><link rel="alternate" hreflang="ja" href="../../../ja/core-libraries/components/security-component.html" /><link rel="alternate" hreflang="fr" href="../../../fr/core-libraries/components/security-component.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 2.x 文档" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 2.x 文档" href="../../index.html" />
    <link rel="up" title="组件" href="../toc-components.html" />
    <link rel="next" title="请求处理" href="request-handling.html" />
    <link rel="prev" title="Authentication 认证" href="authentication.html" />

    <script type="text/javascript">
    window.lang = "zh";
    </script>
  </head>
  <body>

<div id="container">
	
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									
<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
								</ul>
							</li>

							<li><a href="http://cakephp.org/business-solutions">Business Solutions</a></li>
							<li><a href="http://cakephp.org/showcase">Showcase</a></li>

							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
											</ul>
										</div>
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		
		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">
				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
						<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
							<i class="fa fa-bars toggle-modal"></i>
						</button>
					</div>
					<div id="wrap">
						<form class="search" action="../../search.html" method="get">
							<input name="q" type="search" placeholder="What are you looking for?">
							<input id="search_submit" value="搜索" type="submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0 hidden-sm hidden-xs">
							<h2>
								<a href="../../contents.html">
									<span class="glyph_range icon-submenu icon-submenu-cook">B</span>
									CakePHP 2.x <strong>Cookbook</strong>
								</a>
							</h2>
						</div>

						<div class="col-md-4 hidden-sm">
							<form class="search" action="../../search.html" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
									</button>
								</div>
							</form>
						</div>

						
						<div class="col-md-3">
							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Language:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
													role="button" aria-haspopup="true" aria-expanded="false" href="#">
														zh
														<i class="fa fa-menu-en fa-chevron-down"></i>
													</a>
											<ul class="dropdown-menu">
											
												<li><a href="../../../en/core-libraries/components/security-component.html">en</a></li>
											
												<li><a href="../../../pt/core-libraries/components/security-component.html">pt</a></li>
											
												<li><a href="../../../es/core-libraries/components/security-component.html">es</a></li>
											
												<li><a href="../../../ja/core-libraries/components/security-component.html">ja</a></li>
											
												<li><a href="../../../fr/core-libraries/components/security-component.html">fr</a></li>
											
												<li></li>
											
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Version:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="http://book.cakephp.org/3.0/zh">3.x Book</a></li>
												<li><a href="http://book.cakephp.org/2.0/zh">2.x Book</a></li>
												<li><a href="http://book.cakephp.org/1.3/zh/">1.3 Book</a></li>
												<li><a href="http://book.cakephp.org/1.2/zh/">1.2 Book</a></li>
												<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>

	
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
				</div>

				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
				</div>
			</div>
		</div>
	</section>

	
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header"></h4>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

<div class="container page-container"><div id="improve-slideout">
		<i class="fa fa-pencil icon-improve"></i>
		<a href="https://github.com/cakephp/docs/edit/master/zh/core-libraries/components/security-component.rst" target="_blank">
			<div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
		</a>
	</div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

	
	<div class="row">
		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off"><div class="page-contents col-sm-5">
				<h3>Page Contents</h3>
				<ul>
<li><a class="reference internal" href="#">Form tampering prevention</a></li>
<li><a class="reference internal" href="#csrf-protection">CSRF protection</a><ul>
<li><a class="reference internal" href="#using-csrf-protection">Using CSRF protection</a></li>
<li><a class="reference internal" href="#handling-missing-or-expired-tokens">Handling missing or expired tokens</a></li>
<li><a class="reference internal" href="#using-per-session-tokens-instead-of-one-time-use-tokens">Using per-session tokens instead of one-time use tokens</a></li>
</ul>
</li>
</ul>

			</div><div class="document-body">
			
  <p>Security
安全
########</p>
<dl class="class">
<dt id="SecurityComponent">
<em class="property">class </em><code class="descname">SecurityComponent</code><span class="sig-paren">(</span><em>ComponentCollection $collection</em>, <em>array $settings = array()</em><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent" title="永久链接至目标">¶</a></dt>
<dd></dd></dl>

<p>安全组件创建一个简单的方法使得应用程序更加安全，组件提供了一系列的方法能
完成以下任务。</p>
<p>The Security Component creates an easy way to integrate tighter
security in your application. It provides methods for various tasks like:</p>
<ul class="simple">
<li>约束应用程序中接收的HTTP方法。</li>
<li>CSRF(跨站请求伪造)保护。</li>
<li>表单篡改保护。</li>
<li>使用SSL安全连接。</li>
<li>限制跨控制器通信。</li>
<li>Restricting which HTTP methods your application accepts.</li>
<li>CSRF protection.</li>
<li>Form tampering protection</li>
<li>Requiring that SSL be used.</li>
<li>Limiting cross controller communication.</li>
</ul>
<p>与其他所有的组件一样，通过几种配置参数对组件进行配置。
所有的属性可以直接或通过在控制器的beforeFilter同名方法中设置。</p>
<p>Like all components it is configured through several configurable parameters.
All of these properties can be set directly or through setter methods of the
same name in your controller&#8217;s beforeFilter.</p>
<p>引入Security组件将自动获得CSRF`CSRF &lt;<a class="reference external" href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">http://en.wikipedia.org/wiki/Cross-site_request_forgery</a>&gt;`_
和表单篡改保护。一个隐藏的令牌文本框会自动插入到表单中。除此之外，在某个特定静止期之后表单
才会提交，他是由``csrfExpires``时间控制。</p>
<p>By using the Security Component you automatically get
<a class="reference external" href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">CSRF</a>
and form tampering protection. Hidden token fields will
automatically be inserted into forms and checked by the Security
component. Among other things, a form submission will not be
accepted after a certain period of inactivity, which is controlled by
the <code class="docutils literal"><span class="pre">csrfExpires</span></code> time.</p>
<p>如果你正在使用安全组件的表单防御功能及其他组件。会在他们的``startup()``回调方法中
处理表单数据，确保将安全组件放置在``$components``数组中的前面。</p>
<p>If you are using Security component&#8217;s form protection features and
other components that process form data in their <code class="docutils literal"><span class="pre">startup()</span></code>
callbacks, be sure to place Security Component before those
components in your <code class="docutils literal"><span class="pre">$components</span></code> array.</p>
<div class="admonition note">
<p class="first admonition-title">注解</p>
<blockquote>
<div>当使用Security组件，<strong>必须**使用FormHelper创建表单，此外，**不要</strong></div></blockquote>
<p class="last">When using the Security Component you <strong>must</strong> use the FormHelper to create
your forms. In addition, you must <strong>not</strong> override any of the fields&#8217; &#8220;name&#8221;
attributes. The Security Component looks for certain indicators that are
created and managed by the FormHelper (especially those created in
<a class="reference internal" href="../helpers/form.html#FormHelper::create" title="FormHelper::create"><code class="xref php php-meth docutils literal"><span class="pre">create()</span></code></a> and <a class="reference internal" href="../helpers/form.html#FormHelper::end" title="FormHelper::end"><code class="xref php php-meth docutils literal"><span class="pre">end()</span></code></a>).
Dynamically altering the fields that are submitted in a POST request (e.g.
disabling, deleting or creating new fields via JavaScript) is likely to
trigger a black-holing of the request. See the <code class="docutils literal"><span class="pre">$validatePost</span></code> or
<code class="docutils literal"><span class="pre">$disabledFields</span></code> configuration parameters.</p>
</div>
<p>Handling blackhole callbacks
处理黑洞回调函数
============================</p>
<p>如果一个被Security组件限制的动作是一个非法请求，将默认产生404错误，可以通过
<a href="#id1"><span class="problematic" id="id2">``</span></a>$this-&gt;Security-&gt;blackHoleCallback``属性设置一个回调函数。</p>
<p>If an action is restricted by the Security Component it is
black-holed as an invalid request which will result in a 404 error
by default. You can configure this behavior by setting the
<code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;blackHoleCallback</span></code> property to a callback function
in the controller.</p>
<dl class="method">
<dt id="SecurityComponent::blackHole">
<code class="descclassname">SecurityComponent::</code><code class="descname">blackHole</code><span class="sig-paren">(</span><em>object $controller</em>, <em>string $error</em><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::blackHole" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div><p>黑洞是一个带有404错误的非法请求或一个自定义回调函数。如果没有回调请求将退出。
如果一个控制器的回调在 SecurityComponent::blackHoleCallback 中进行了设置。
黑洞将会取消并且不传递任何错误信息。</p>
<p>Black-hole an invalid request with a 404 error or a custom</p>
</div></blockquote>
<p>callback. With no callback, the request will be exited. If a
controller callback is set to SecurityComponent::blackHoleCallback,
it will be called and passed any error information.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$blackHoleCallback">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">blackHoleCallback</code><a class="headerlink" href="#SecurityComponent::$blackHoleCallback" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>blackHoleCallback是处理和请求黑洞的回调函数。</div></blockquote>
<p>A Controller callback that will handle and requests that are
blackholed. A blackhole callback can be any public method on a controllers.
The callback should expect an parameter indicating the type of error:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">blackHoleCallback</span> <span class="o">=</span> <span class="s1">&#39;blackhole&#39;</span><span class="p">;</span>
<span class="p">}</span>

<span class="k">public</span> <span class="k">function</span> <span class="nf">blackhole</span><span class="p">(</span><span class="nv">$type</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// handle errors.</span>
<span class="p">}</span>
</pre></div>
</div>
<p><code class="docutils literal"><span class="pre">$type``参数可以下面的值</span>
<span class="pre">The</span> <span class="pre">``$type</span></code> parameter can have the following values:</p>
<ul class="simple">
<li>&#8216;auth&#8217; Indicates a form validation error, or a controller/action mismatch
error.</li>
<li>&#8216;csrf&#8217; Indicates a CSRF error.</li>
<li>&#8216;get&#8217; Indicates an HTTP method restriction failure.</li>
<li>&#8216;post&#8217; Indicates an HTTP method restriction failure.</li>
<li>&#8216;put&#8217; Indicates an HTTP method restriction failure.</li>
<li>&#8216;delete&#8217; Indicates an HTTP method restriction failure.</li>
<li>&#8216;secure&#8217; Indicates an SSL method restriction failure.</li>
</ul>
</dd></dl>

<p>Restricting HTTP methods
限制HTTP方法
========================</p>
<dl class="method">
<dt id="SecurityComponent::requirePost">
<code class="descclassname">SecurityComponent::</code><code class="descname">requirePost</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requirePost" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>设置动作接收到的必须是POST请求，接收任意数量的参数，
没有参数将强制所有动作接收的必须是POST请求。</div></blockquote>
<p>Sets the actions that require a POST request. Takes any number of
arguments. Can be called with no arguments to force all actions to
require a POST.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requireGet">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireGet</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireGet" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>设置动作接收到的必须是GET请求，接收任意数量的参数，
没有参数将强制所有动作接收的必须是GET请求。</div></blockquote>
<p>Sets the actions that require a GET request. Takes any number of
arguments. Can be called with no arguments to force all actions to
require a GET.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requirePut">
<code class="descclassname">SecurityComponent::</code><code class="descname">requirePut</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requirePut" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>设置动作接收到的必须是PUT请求，接收任意数量的参数，
没有参数将强制所有动作接收的必须是PUT请求。</div></blockquote>
<p>Sets the actions that require a PUT request. Takes any number of
arguments. Can be called with no arguments to force all actions to
require a PUT.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requireDelete">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireDelete</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireDelete" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>设置动作接收到的必须是DELETE请求，接收任意数量的参数，
没有参数将强制所有动作接收的必须是DELETE请求。</div></blockquote>
<p>Sets the actions that require a DELETE request. Takes any number of
arguments. Can be called with no arguments to force all actions to
require a DELETE.</p>
</dd></dl>

<p>Restrict actions to SSL
限制动作为SSL
=======================</p>
<dl class="method">
<dt id="SecurityComponent::requireSecure">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireSecure</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireSecure" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>设置动作接收到的必须是SSL安全的请求，接收任意数量的参数，
没有参数将强制所有动作接收的必须是SSL安全的请求。</div></blockquote>
<p>Sets the actions that require a SSL-secured request. Takes any
number of arguments. Can be called with no arguments to force all
actions to require a SSL-secured.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requireAuth">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireAuth</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireAuth" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>设置动作接收到的必须是Security组件产生的令牌，接收任意数量的参数，
没有参数将强制所有动作接收的必须经过合法认证。</div></blockquote>
<p>Sets the actions that require a valid Security Component generated
token. Takes any number of arguments. Can be called with no
arguments to force all actions to require a valid authentication.</p>
</dd></dl>

<p>Restricting cross controller communication
限制跨控制器通信
==========================================</p>
<dl class="attr">
<dt id="SecurityComponent::$allowedControllers">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">allowedControllers</code><a class="headerlink" href="#SecurityComponent::$allowedControllers" title="永久链接至目标">¶</a></dt>
<dd><p>A List of Controller from which the actions of the current
controller are allowed to receive requests from. This can be used
to control cross controller requests.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$allowedActions">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">allowedActions</code><a class="headerlink" href="#SecurityComponent::$allowedActions" title="永久链接至目标">¶</a></dt>
<dd><p>Actions from which actions of the current controller are allowed to
receive requests. This can be used to control cross controller
requests.</p>
</dd></dl>

<div class="section" id="form-tampering-prevention">
<h1>Form tampering prevention<a class="headerlink" href="#form-tampering-prevention" title="永久链接至标题">¶</a></h1>
<p>By default <code class="docutils literal"><span class="pre">SecurityComponent</span></code> prevents users from tampering with forms.  It
does this by working with FormHelper and tracking which files are in a form.  It
also keeps track of the values of hidden input elements.  All of this data is
combined and turned into a hash.  When a form is submitted, SecurityComponent
will use the POST data to build the same structure and compare the hash.</p>
<dl class="attr">
<dt id="SecurityComponent::$unlockedFields">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">unlockedFields</code><a class="headerlink" href="#SecurityComponent::$unlockedFields" title="永久链接至目标">¶</a></dt>
<dd><p>Set to a list of form fields to exclude from POST validation. Fields can be
unlocked either in the Component, or with
<a class="reference internal" href="../helpers/form.html#FormHelper::unlockField" title="FormHelper::unlockField"><code class="xref php php-meth docutils literal"><span class="pre">FormHelper::unlockField()</span></code></a>.  Fields that have been unlocked are
not required to be part of the POST and hidden unlocked fields do not have
their values checked.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$validatePost">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">validatePost</code><a class="headerlink" href="#SecurityComponent::$validatePost" title="永久链接至目标">¶</a></dt>
<dd><p>Set to <code class="docutils literal"><span class="pre">false</span></code> to completely skip the validation of POST
requests, essentially turning off form validation.</p>
</dd></dl>

<p>CSRF configuration
CSRF 配置
==================</p>
<dl class="attr">
<dt id="SecurityComponent::$csrfCheck">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">csrfCheck</code><a class="headerlink" href="#SecurityComponent::$csrfCheck" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>是否使用CSRF保护表单，设置``false``禁用。</div></blockquote>
<p>Whether to use CSRF protected forms. Set to <code class="docutils literal"><span class="pre">false</span></code> to disable
CSRF protection on forms.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$csrfExpires">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">csrfExpires</code><a class="headerlink" href="#SecurityComponent::$csrfExpires" title="永久链接至目标">¶</a></dt>
<dd><p>CSRF令牌的持续时间，每个表单/页面请求会产生一个新令牌
The duration from when a CSRF token is created that it will expire on.
Each form/page request will generate a new token that can only
be submitted once unless it expires.  Can be any value compatible
with <code class="docutils literal"><span class="pre">strtotime()</span></code>. The default is +30 minutes.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$csrfUseOnce">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">csrfUseOnce</code><a class="headerlink" href="#SecurityComponent::$csrfUseOnce" title="永久链接至目标">¶</a></dt>
<dd><p>Controls whether or not CSRF tokens are use and burn.  Set to
<code class="docutils literal"><span class="pre">false</span></code> to not generate new tokens on each request.  One token
will be reused until it expires. This reduces the chances of
users getting invalid requests because of token consumption.
It has the side effect of making CSRF less secure, as tokens are reusable.</p>
</dd></dl>

<p>Usage
用法
=====</p>
<p>在控制器的beforeFilter()中使用security组件，可以指定约束规则，当动作启动时，
Security组件会启动。</p>
<p>Using the security component is generally done in the controller
beforeFilter(). You would specify the security restrictions you
want and the Security Component will enforce them on its startup:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">requirePost</span><span class="p">(</span><span class="s1">&#39;delete&#39;</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>此例中只有接收到的是POST请求才会成功触发删除动作。</p>
<p>In this example the delete action can only be successfully
triggered if it receives a POST request:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">params</span><span class="p">[</span><span class="s1">&#39;admin&#39;</span><span class="p">]))</span> <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">requireSecure</span><span class="p">();</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>此例子将迫使所有操作，管理路由到安全SSL请求::
This example would force all actions that had admin routing to
require secure SSL requests:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">params</span><span class="p">[</span><span class="s1">&#39;admin&#39;</span><span class="p">]))</span> <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">blackHoleCallback</span> <span class="o">=</span> <span class="s1">&#39;forceSSL&#39;</span><span class="p">;</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">requireSecure</span><span class="p">();</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">forceSSL</span><span class="p">()</span> <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">redirect</span><span class="p">(</span><span class="s1">&#39;https://&#39;</span> <span class="o">.</span> <span class="nx">env</span><span class="p">(</span><span class="s1">&#39;SERVER_NAME&#39;</span><span class="p">)</span> <span class="o">.</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">here</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>此例子将迫使所有操作，管理路由到安全SSL请求。当请求被放到黑洞，将调用
指定的forceSSL()回调函数，他会将一个不安全的请求重定向到
安全的请求。
This example would force all actions that had admin routing to
require secure SSL requests. When the request is black holed, it
will call the nominated forceSSL() callback which will redirect
non-secure requests to secure requests automatically.</p>
</div>
<div class="section" id="csrf-protection">
<span id="security-csrf"></span><h1>CSRF protection<a class="headerlink" href="#csrf-protection" title="永久链接至标题">¶</a></h1>
<p>CSRF or Cross Site Request Forgery is a common vulnerability in web
applications.  It allows an attacker to capture and replay a previous request,
and sometimes submit data requests using image tags or resources on other
domains.</p>
<p>Double submission and replay attacks are handled by the SecurityComponent&#8217;s CSRF
features.  They work by adding a special token to each form request.  This token
once used cannot be used again.  If an attempt is made to re-use an expired
token the request will be blackholed.</p>
<div class="section" id="using-csrf-protection">
<h2>Using CSRF protection<a class="headerlink" href="#using-csrf-protection" title="永久链接至标题">¶</a></h2>
<p>Simply by adding the <a class="reference internal" href="#SecurityComponent" title="SecurityComponent"><code class="xref php php-class docutils literal"><span class="pre">SecurityComponent</span></code></a> to your components array,
you can benefit from the CSRF protection it provides. By default CSRF tokens are
valid for 30 minutes and expire on use. You can control how long tokens last by setting
csrfExpires on the component.:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Security&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;csrfExpires&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;+1 hour&#39;</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>You can also set this property in your controller&#8217;s <code class="docutils literal"><span class="pre">beforeFilter</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">csrfExpires</span> <span class="o">=</span> <span class="s1">&#39;+1 hour&#39;</span><span class="p">;</span>
    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The csrfExpires property can be any value that is compatible with
<a class="reference external" href="http://php.net/manual/en/function.strtotime.php">strtotime()</a>. By default the
<a class="reference internal" href="../helpers/form.html#FormHelper" title="FormHelper"><code class="xref php php-class docutils literal"><span class="pre">FormHelper</span></code></a> will add a <code class="docutils literal"><span class="pre">data[_Token][key]</span></code> containing the CSRF
token to every form when the component is enabled.</p>
</div>
<div class="section" id="handling-missing-or-expired-tokens">
<h2>Handling missing or expired tokens<a class="headerlink" href="#handling-missing-or-expired-tokens" title="永久链接至标题">¶</a></h2>
<p>Missing or expired tokens are handled similar to other security violations. The
SecurityComponent&#8217;s blackHoleCallback will be called with a &#8216;csrf&#8217; parameter.
This helps you filter out CSRF token failures, from other warnings.</p>
</div>
<div class="section" id="using-per-session-tokens-instead-of-one-time-use-tokens">
<h2>Using per-session tokens instead of one-time use tokens<a class="headerlink" href="#using-per-session-tokens-instead-of-one-time-use-tokens" title="永久链接至标题">¶</a></h2>
<p>By default a new CSRF token is generated for each request, and each token can
only be used once. If a token is used twice, it will be blackholed. Sometimes,
this behaviour is not desirable, as it can create issues with single page
applications. You can toggle on longer, multi-use tokens by setting
<code class="docutils literal"><span class="pre">csrfUseOnce</span></code> to <code class="docutils literal"><span class="pre">false</span></code>. This can be done in the components array, or in
the <code class="docutils literal"><span class="pre">beforeFilter</span></code> of your controller:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Security&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;csrfUseOnce&#39;</span> <span class="o">=&gt;</span> <span class="k">false</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will tell the component that you want to re-use a CSRF token until it
expires - which is controlled by the <code class="docutils literal"><span class="pre">csrfExpires</span></code> value. If you are having
issues with expired tokens, this is a good balance between security and ease of
use.</p>
<p>Disabling the CSRF protection
禁用CSRF保护
&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>
<p>There may be cases where you want to disable CSRF protection on your forms for
some reason. If you do want to disable this feature, you can set
<code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;csrfCheck</span> <span class="pre">=</span> <span class="pre">false;</span></code> in your <code class="docutils literal"><span class="pre">beforeFilter</span></code> or use the
components array. By default CSRF protection is enabled, and configured to use
one-use tokens.</p>
<p>Disabling Security Component For Specific Actions
为特定的动作禁用Security组件
=================================================</p>
<p>有些情况需要对某个action禁用所有的安全检测(比如, ajax请求)。
可以通过&#8221;解锁&#8221;，把这些actions放到``beforeFilter``里的``$this-&gt;Security-&gt;unlockedActions``列表中。
There may be cases where you want to disable all security checks for an action (ex. ajax request).
You may &#8220;unlock&#8221; these actions by listing them in <code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;unlockedActions</span></code> in your
<code class="docutils literal"><span class="pre">beforeFilter</span></code>.</p>
<div class="versionadded">
<p><span class="versionmodified">2.3 新版功能.</span></p>
</div>
</div>
</div>


			</div>
		</div>

		
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="zh">
			<aside class="sidebar">
				<div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../index.html">欢迎</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">安装</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../getting-started.html">入门指南</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cakephp-overview.html">CakePHP 概述</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../controllers.html">控制器</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">视图</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../models.html">模型</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../core-libraries.html">核心库</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../toc-general-purpose.html">通用</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-behaviors.html">行为</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../toc-components.html">组件</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3"><a class="reference internal" href="sessions.html">Sessions</a></li>
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication 认证</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Form tampering prevention</a></li>
<li class="toctree-l3"><a class="reference internal" href="#csrf-protection">CSRF protection</a></li>
<li class="toctree-l3"><a class="reference internal" href="request-handling.html">请求处理</a></li>
<li class="toctree-l3"><a class="reference internal" href="cookie.html">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="access-control-lists.html">访问控制列表组件</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../toc-helpers.html">助件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-utilities.html">工具</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">插件</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Shells，任务与命令行工具</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development.html">开发</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">部署</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">教程 &amp; 实例</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">贡献</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

				</div>
			</aside>
			<aside class="sidebar">
				<div class="mb30 row">
				</div>
			</aside>
		</div>
	</div>
</div>

<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4  social text-center">
				<div class="col-sm-3 col-xs-3">
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						<div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 social-footer text-center ">
				<a href="#">发现翻译错误? 请在下面留言</a>
				<a href="https://github.com/blackpuppy/docs/wiki" target="_blank">我要加入翻译</a>
				<a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
				<a href="http://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="http://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="http://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
				<a href="http://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
				<a href="http://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
				<a href="http://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">
			<div class="col-sm-12 col-md-3">
				<div class="footer-widget t-footer">
					<div class="col-md-12">
						<a href="https://www.openhub.net/p/cakephp">
							<img src="../../_static/open-hub.png">
						</a>
						<div class="mt10">
							<a href="https://www.rackspace.com/">
								<img src="../../_static/rackspace.png">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-9">
				<div class="col-md-3 col-sm-6 business-solution">
					<ul class="footer-menu">
						<li class="menu-title">
	<a href="http://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
	<a href="http://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
							&copy; 版权所有 2016, Cake Software Foundation, Inc.
						最后更新于 8月 02, 2016.
						Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
  </body>
</html>