

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Sessions" lang="zh" name="title" />
<meta content="php array,dailyplanet com,configuration documentation,dot notation,feedback messages,reading data,session data,page requests,clark kent,dots,existence,sessions,convenience,cakephp" lang="zh" name="keywords" />

    <title>Sessions</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="en" href="../../../en/core-libraries/components/sessions.html" /><link rel="alternate" hreflang="pt" href="../../../pt/core-libraries/components/sessions.html" /><link rel="alternate" hreflang="es" href="../../../es/core-libraries/components/sessions.html" /><link rel="alternate" hreflang="ja" href="../../../ja/core-libraries/components/sessions.html" /><link rel="alternate" hreflang="fr" href="../../../fr/core-libraries/components/sessions.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 2.x 文档" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 2.x 文档" href="../../index.html" />
    <link rel="up" title="组件" href="../toc-components.html" />
    <link rel="next" title="Authentication 认证" href="authentication.html" />
    <link rel="prev" title="Flash" href="flash.html" />

    <script type="text/javascript">
    window.lang = "zh";
    </script>
  </head>
  <body>

<div id="container">
	
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									
<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
								</ul>
							</li>

							<li><a href="http://cakephp.org/business-solutions">Business Solutions</a></li>
							<li><a href="http://cakephp.org/showcase">Showcase</a></li>

							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
											</ul>
										</div>
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		
		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">
				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
						<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
							<i class="fa fa-bars toggle-modal"></i>
						</button>
					</div>
					<div id="wrap">
						<form class="search" action="../../search.html" method="get">
							<input name="q" type="search" placeholder="What are you looking for?">
							<input id="search_submit" value="搜索" type="submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0 hidden-sm hidden-xs">
							<h2>
								<a href="../../contents.html">
									<span class="glyph_range icon-submenu icon-submenu-cook">B</span>
									CakePHP 2.x <strong>Cookbook</strong>
								</a>
							</h2>
						</div>

						<div class="col-md-4 hidden-sm">
							<form class="search" action="../../search.html" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
									</button>
								</div>
							</form>
						</div>

						
						<div class="col-md-3">
							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Language:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
													role="button" aria-haspopup="true" aria-expanded="false" href="#">
														zh
														<i class="fa fa-menu-en fa-chevron-down"></i>
													</a>
											<ul class="dropdown-menu">
											
												<li><a href="../../../en/core-libraries/components/sessions.html">en</a></li>
											
												<li><a href="../../../pt/core-libraries/components/sessions.html">pt</a></li>
											
												<li><a href="../../../es/core-libraries/components/sessions.html">es</a></li>
											
												<li><a href="../../../ja/core-libraries/components/sessions.html">ja</a></li>
											
												<li><a href="../../../fr/core-libraries/components/sessions.html">fr</a></li>
											
												<li></li>
											
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Version:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="http://book.cakephp.org/3.0/zh">3.x Book</a></li>
												<li><a href="http://book.cakephp.org/2.0/zh">2.x Book</a></li>
												<li><a href="http://book.cakephp.org/1.3/zh/">1.3 Book</a></li>
												<li><a href="http://book.cakephp.org/1.2/zh/">1.2 Book</a></li>
												<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>

	
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
				</div>

				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
				</div>
			</div>
		</div>
	</section>

	
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header"></h4>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

<div class="container page-container"><div id="improve-slideout">
		<i class="fa fa-pencil icon-improve"></i>
		<a href="https://github.com/cakephp/docs/edit/master/zh/core-libraries/components/sessions.rst" target="_blank">
			<div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
		</a>
	</div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

	
	<div class="row">
		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off"><div class="page-contents col-sm-5">
				<h3>Page Contents</h3>
				<ul>
<li><a class="reference internal" href="#">Sessions</a></li>
</ul>

			</div><div class="document-body">
			
  <div class="section" id="sessions">
<h1>Sessions<a class="headerlink" href="#sessions" title="永久链接至标题">¶</a></h1>
<dl class="class">
<dt id="SessionComponent">
<em class="property">class </em><code class="descname">SessionComponent</code><span class="sig-paren">(</span><em>ComponentCollection $collection</em>, <em>array $settings = array()</em><span class="sig-paren">)</span><a class="headerlink" href="#SessionComponent" title="永久链接至目标">¶</a></dt>
<dd></dd></dl>

<p>CakePHP的SessionComponent会话组件提供了一种页面间持久化客户端数据的方法。他是对``$_SESSION``封装，
同时提供了用于方便操作``$_SESSION``的几种方法。</p>
<p>The CakePHP SessionComponent provides a way to persist client data
between page requests. It acts as a wrapper for the <code class="docutils literal"><span class="pre">$_SESSION</span></code> as
well as providing convenience methods for several <code class="docutils literal"><span class="pre">$_SESSION</span></code>
related functions.</p>
<p>在CakePHP中，Sessions有多种配置方法。更多信息参见:doc:<cite>Session configuration &lt;/development/sessions&gt;</cite></p>
<p>Sessions can be configured in a number of ways in CakePHP.  For more
information, you should see the <a class="reference internal" href="../../development/sessions.html"><span class="doc">Session configuration</span></a>
documentation.</p>
<p>Interacting with Session data
与Session数据交互
=============================</p>
<p>Session组件是用来与session交互信息。它包括基本的CRUD功能以及来创建反馈信息给用户。</p>
<p>The Session component is used to interact with session information.
It includes basic CRUD functions as well as features for creating
feedback messages to users.</p>
<p>请注意可以使用:term:<cite>dot notation`点记法创建数组结构的Session。所以``User.username`</cite>
等同于下面的格式:</p>
<p>It should be noted that Array structures can be created in the
Session by using <a class="reference internal" href="../../appendices/glossary.html#term-dot-notation"><span class="xref std std-term">dot notation</span></a>. So <code class="docutils literal"><span class="pre">User.username</span></code> would
reference the following:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;User&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;username&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;clark-kent@dailyplanet.com&#39;</span>
<span class="p">));</span>
</pre></div>
</div>
<p>点记法可以用来表示嵌套数组。这种记法可用在所有的Session组件方法中。
Dots are used to indicate nested arrays. This notation is used for
all Session component methods wherever a name/key is used.</p>
<dl class="method">
<dt id="SessionComponent::write">
<code class="descclassname">SessionComponent::</code><code class="descname">write</code><span class="sig-paren">(</span><em>$name</em>, <em>$value</em><span class="sig-paren">)</span><a class="headerlink" href="#SessionComponent::write" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>将Session的$value写入$name，$name可以是点分隔表示的数组形式。举个例子:</div></blockquote>
<p>Write to the Session puts $value into $name. $name can be a dot
separated array. For example:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;Person.eyeColor&#39;</span><span class="p">,</span> <span class="s1">&#39;Green&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>将值&#8217;Green&#8217;写入Person =&gt;eyeColor中。
This writes the value &#8216;Green&#8217; to the session under Person =&gt;
eyeColor.</p>
</dd></dl>

<dl class="method">
<dt id="SessionComponent::read">
<code class="descclassname">SessionComponent::</code><code class="descname">read</code><span class="sig-paren">(</span><em>$name</em><span class="sig-paren">)</span><a class="headerlink" href="#SessionComponent::read" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>返回Session中名字是$name的值。参数$name为null会返回整个session。E.g:</div></blockquote>
<p>Returns the value at $name in the Session. If $name is null the
entire session will be returned. E.g:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$green</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;Person.eyeColor&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>从session中取得值Green，不存在返回null。
Retrieve the value Green from the session. Reading data that does not exist
will return null.</p>
</dd></dl>

<dl class="method">
<dt id="SessionComponent::check">
<code class="descclassname">SessionComponent::</code><code class="descname">check</code><span class="sig-paren">(</span><em>$name</em><span class="sig-paren">)</span><a class="headerlink" href="#SessionComponent::check" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>检测一个Session是否被设置,存在返回true,不存在返回false。</div></blockquote>
<p>Used to check if a Session variable has been set. Returns true on
existence and false on non-existence.</p>
</dd></dl>

<dl class="method">
<dt id="SessionComponent::delete">
<code class="descclassname">SessionComponent::</code><code class="descname">delete</code><span class="sig-paren">(</span><em>$name</em><span class="sig-paren">)</span><a class="headerlink" href="#SessionComponent::delete" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div>清除名字为$name的session数据。E.g:</div></blockquote>
<p>Clear the session data at $name. E.g:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">delete</span><span class="p">(</span><span class="s1">&#39;Person.eyeColor&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>session数据中不在包含值&#8217;Green&#8217;索引eyeColor也被清除了。然后Person依然存在于Session中。
为了删除整个Person信息需要::
Our session data no longer has the value &#8216;Green&#8217;, or the index
eyeColor set. However, Person is still in the Session. To delete
the entire Person information from the session use:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">delete</span><span class="p">(</span><span class="s1">&#39;Person&#39;</span><span class="p">);</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="SessionComponent::destroy">
<code class="descclassname">SessionComponent::</code><code class="descname">destroy</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SessionComponent::destroy" title="永久链接至目标">¶</a></dt>
<dd><blockquote>
<div><a href="#id1"><span class="problematic" id="id2">``</span></a>destroy``方法会删除session cookie和存储在整个临时文件系统中的session数据。
它会销毁PHP的session，然后创建一个新的session:</div></blockquote>
<p>The <code class="docutils literal"><span class="pre">destroy</span></code> method will delete the session cookie and all
session data stored in the temporary file system. It will then
destroy the PHP session and then create a fresh session:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">destroy</span><span class="p">();</span>
</pre></div>
</div>
</dd></dl>

<p id="creating-notification-messages">Creating notification messages
创建提示信息
==============================</p>
<dl class="method">
<dt id="SessionComponent::setFlash">
<code class="descclassname">SessionComponent::</code><code class="descname">setFlash</code><span class="sig-paren">(</span><em>string $message</em>, <em>string $element = 'default'</em>, <em>array $params = array()</em>, <em>string $key = 'flash'</em><span class="sig-paren">)</span><a class="headerlink" href="#SessionComponent::setFlash" title="永久链接至目标">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">返回类型:</th><td class="field-body">void</td>
</tr>
</tbody>
</table>
<p>通常在web应用程序中，在处理表单或确认数据后需要显示一次性的提示消息给用户。
在CakePHP中，被归类为&#8221;flash messages&#8221;。可以用SessionComponent设置闪烁消息。
然后用:php:meth:<a href="#id3"><span class="problematic" id="id4">`</span></a>SessionHelper::flash()`方法显示。设置使用``setFlash``方法。</p>
<p>Often in web applications, you will need to display a one-time notification
message to the user after processing a form or acknowledging data.
In CakePHP, these are referred to as &#8220;flash messages&#8221;.  You can set flash
message with the SessionComponent and display them with the
<a class="reference internal" href="../helpers/session.html#SessionHelper::flash" title="SessionHelper::flash"><code class="xref php php-meth docutils literal"><span class="pre">SessionHelper::flash()</span></code></a>. To set a message, use <code class="docutils literal"><span class="pre">setFlash</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// In the controller.</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">setFlash</span><span class="p">(</span><span class="s1">&#39;Your stuff has been saved.&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>创建一次性的消息展示给用户看，使用SessionHelper。
This will create a one-time message that can be displayed to the user,
using the SessionHelper:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// In the view.</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">flash</span><span class="p">();</span>

<span class="c1">// The above will output.</span>
<span class="o">&lt;</span><span class="nx">div</span> <span class="nx">id</span><span class="o">=</span><span class="s2">&quot;flashMessage&quot;</span> <span class="nx">class</span><span class="o">=</span><span class="s2">&quot;message&quot;</span><span class="o">&gt;</span>
    <span class="nx">Your</span> <span class="nx">stuff</span> <span class="nx">has</span> <span class="nx">been</span> <span class="nx">saved</span><span class="o">.</span>
<span class="o">&lt;/</span><span class="nx">div</span><span class="o">&gt;</span>
</pre></div>
</div>
<p>可以使用额外的参数传给``setFlash()`来创建各种类型的消息。举例，错误和确定
的提示可能看起来不同的。使用``$key``参数来表示不同种类的消息再分开输出。</p>
<p>You can use the additional parameters of <code class="docutils literal"><span class="pre">setFlash()</span></code> to create
different kinds of flash messages.  For example, error and positive
notifications may look differently.  CakePHP gives you a way to do that.
Using the <code class="docutils literal"><span class="pre">$key</span></code> parameter you can store multiple messages, which can be
output separately:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// set a bad message.</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">setFlash</span><span class="p">(</span><span class="s1">&#39;Something bad.&#39;</span><span class="p">,</span> <span class="s1">&#39;default&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(),</span> <span class="s1">&#39;bad&#39;</span><span class="p">);</span>

<span class="c1">// set a good message.</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">setFlash</span><span class="p">(</span><span class="s1">&#39;Something good.&#39;</span><span class="p">,</span> <span class="s1">&#39;default&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(),</span> <span class="s1">&#39;good&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>在视图层，这些消息可以以不同的样式输出::
In the view, these messages can be output and styled differently:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// in a view.</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">flash</span><span class="p">(</span><span class="s1">&#39;good&#39;</span><span class="p">);</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">flash</span><span class="p">(</span><span class="s1">&#39;bad&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p><code class="docutils literal"><span class="pre">$element``参数允许控制哪一个元素(位于</span></code>/app/View/Elements``)来进行渲染消息。
元素中的消息内容会适用于``$message``变量。</p>
<p>The <code class="docutils literal"><span class="pre">$element</span></code> parameter allows you to control which element
(located in <code class="docutils literal"><span class="pre">/app/View/Elements</span></code>) should be used to render the
message in. In the element the message is available as <code class="docutils literal"><span class="pre">$message</span></code>.
First we set the flash in our controller:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">setFlash</span><span class="p">(</span><span class="s1">&#39;Something custom!&#39;</span><span class="p">,</span> <span class="s1">&#39;flash_custom&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>然后我们创建一个文件``app/View/Elements/flash_custom.ctp``作为自定义消息元素。</p>
<p>Then we create the file <code class="docutils literal"><span class="pre">app/View/Elements/flash_custom.ctp</span></code> and build our
custom flash element:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="o">&lt;</span><span class="nx">div</span> <span class="nx">id</span><span class="o">=</span><span class="s2">&quot;myCustomFlash&quot;</span><span class="o">&gt;&lt;?</span><span class="nx">php</span> <span class="k">echo</span> <span class="nv">$message</span><span class="p">;</span> <span class="cp">?&gt;</span><span class="x">&lt;/div&gt;</span>
</pre></div>
</div>
<p><a href="#id5"><span class="problematic" id="id6">``</span></a>$params``参数可使我们传递额外的视图变量在布局中渲染。参数能够影响被渲染的div，
举个例子$params数组中添加&#8221;class&#8221;，使用``$this-&gt;Session-&gt;flash()``会在生成的``div``中
新增该class。</p>
<p><code class="docutils literal"><span class="pre">$params</span></code> allows you to pass additional view variables to the
rendered layout. Parameters can be passed affecting the rendered div, for
example adding &#8220;class&#8221; in the $params array will apply a class to the
<code class="docutils literal"><span class="pre">div</span></code> output using <code class="docutils literal"><span class="pre">$this-&gt;Session-&gt;flash()</span></code> in your layout or view.:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">setFlash</span><span class="p">(</span><span class="s1">&#39;Example message text&#39;</span><span class="p">,</span> <span class="s1">&#39;default&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;class&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;example_class&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>使用上面的``$this-&gt;Session-&gt;flash()``会输出::
The output from using <code class="docutils literal"><span class="pre">$this-&gt;Session-&gt;flash()</span></code> with the above example
would be:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="o">&lt;</span><span class="nx">div</span> <span class="nx">id</span><span class="o">=</span><span class="s2">&quot;flashMessage&quot;</span> <span class="nx">class</span><span class="o">=</span><span class="s2">&quot;example_class&quot;</span><span class="o">&gt;</span><span class="nx">Example</span> <span class="nx">message</span> <span class="nx">text</span><span class="o">&lt;/</span><span class="nx">div</span><span class="o">&gt;</span>
</pre></div>
</div>
<p>使用plugin插件中的元素，只需在``$params``中指定插件名::
To use an element from a plugin just specify the plugin in the
<code class="docutils literal"><span class="pre">$params</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Will use /app/Plugin/Comment/View/Elements/flash_no_spam.ctp</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Session</span><span class="o">-&gt;</span><span class="na">setFlash</span><span class="p">(</span><span class="s1">&#39;Message!&#39;</span><span class="p">,</span> <span class="s1">&#39;flash_no_spam&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;plugin&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Comment&#39;</span><span class="p">));</span>
</pre></div>
</div>
</dd></dl>

</div>


			</div>
		</div>

		
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="zh">
			<aside class="sidebar">
				<div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../index.html">欢迎</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">安装</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../getting-started.html">入门指南</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cakephp-overview.html">CakePHP 概述</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../controllers.html">控制器</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">视图</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../models.html">模型</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../core-libraries.html">核心库</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../toc-general-purpose.html">通用</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-behaviors.html">行为</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../toc-components.html">组件</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="pagination.html">分页</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html#pagination">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Sessions</a></li>
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication 认证</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html">Form tampering prevention</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html#csrf-protection">CSRF protection</a></li>
<li class="toctree-l3"><a class="reference internal" href="request-handling.html">请求处理</a></li>
<li class="toctree-l3"><a class="reference internal" href="cookie.html">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="access-control-lists.html">访问控制列表组件</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../toc-helpers.html">助件</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-utilities.html">工具</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">插件</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Shells，任务与命令行工具</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development.html">开发</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">部署</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">教程 &amp; 实例</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">贡献</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

				</div>
			</aside>
			<aside class="sidebar">
				<div class="mb30 row">
				</div>
			</aside>
		</div>
	</div>
</div>

<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4  social text-center">
				<div class="col-sm-3 col-xs-3">
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						<div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 social-footer text-center ">
				<a href="#">发现翻译错误? 请在下面留言</a>
				<a href="https://github.com/blackpuppy/docs/wiki" target="_blank">我要加入翻译</a>
				<a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
				<a href="http://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="http://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="http://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
				<a href="http://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
				<a href="http://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
				<a href="http://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">
			<div class="col-sm-12 col-md-3">
				<div class="footer-widget t-footer">
					<div class="col-md-12">
						<a href="https://www.openhub.net/p/cakephp">
							<img src="../../_static/open-hub.png">
						</a>
						<div class="mt10">
							<a href="https://www.rackspace.com/">
								<img src="../../_static/rackspace.png">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-9">
				<div class="col-md-3 col-sm-6 business-solution">
					<ul class="footer-menu">
						<li class="menu-title">
	<a href="http://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
	<a href="http://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
							&copy; 版权所有 2016, Cake Software Foundation, Inc.
						最后更新于 8月 04, 2016.
						Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F201cbc61deaf9f7ffb521fb23e83db40' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"cakephpchina"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
  </body>
</html>