

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Cookie" lang="en" name="title" />
<meta content="array controller,php setcookie,cookie string,controller setup,string domain,default description,string name,session cookie,integers,variables,domain name,null" lang="en" name="keywords" />

    <title>Cookie</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="pt" href="../../../pt/core-libraries/components/cookie.html" /><link rel="alternate" hreflang="es" href="../../../es/core-libraries/components/cookie.html" /><link rel="alternate" hreflang="ja" href="../../../ja/core-libraries/components/cookie.html" /><link rel="alternate" hreflang="fr" href="../../../fr/core-libraries/components/cookie.html" /><link rel="alternate" hreflang="zh" href="../../../zh/core-libraries/components/cookie.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 2.x documentation" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 2.x documentation" href="../../index.html" />
    <link rel="up" title="Components" href="../toc-components.html" />
    <link rel="next" title="Access Control Lists" href="access-control-lists.html" />
    <link rel="prev" title="Request Handling" href="request-handling.html" />

    <script type="text/javascript">
    window.lang = "en";
    </script>
  </head>
  <body>

<div id="container">
	
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									
<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
								</ul>
							</li>

							<li><a href="http://cakephp.org/business-solutions">Business Solutions</a></li>
							<li><a href="http://cakephp.org/showcase">Showcase</a></li>

							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
											</ul>
										</div>
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		
		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">
				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
						<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
							<i class="fa fa-bars toggle-modal"></i>
						</button>
					</div>
					<div id="wrap">
						<form class="search" action="../../search.html" method="get">
							<input name="q" type="search" placeholder="What are you looking for?">
							<input id="search_submit" value="Search" type="submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0 hidden-sm hidden-xs">
							<h2>
								<a href="../../contents.html">
									<span class="glyph_range icon-submenu icon-submenu-cook">B</span>
									CakePHP 2.x <strong>Cookbook</strong>
								</a>
							</h2>
						</div>

						<div class="col-md-4 hidden-sm">
							<form class="search" action="../../search.html" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
									</button>
								</div>
							</form>
						</div>

						
						<div class="col-md-3">
							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Language:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
													role="button" aria-haspopup="true" aria-expanded="false" href="#">
														en
														<i class="fa fa-menu-en fa-chevron-down"></i>
													</a>
											<ul class="dropdown-menu">
											
												<li></li>
											
												<li><a href="../../../pt/core-libraries/components/cookie.html">pt</a></li>
											
												<li><a href="../../../es/core-libraries/components/cookie.html">es</a></li>
											
												<li><a href="../../../ja/core-libraries/components/cookie.html">ja</a></li>
											
												<li><a href="../../../fr/core-libraries/components/cookie.html">fr</a></li>
											
												<li><a href="../../../zh/core-libraries/components/cookie.html">zh</a></li>
											
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Version:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="http://book.cakephp.org/3.0/en">3.x Book</a></li>
												<li><a href="http://book.cakephp.org/2.0/en">2.x Book</a></li>
												<li><a href="http://book.cakephp.org/1.3/en/">1.3 Book</a></li>
												<li><a href="http://book.cakephp.org/1.2/en/">1.2 Book</a></li>
												<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>

	
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
				</div>

				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
				</div>
			</div>
		</div>
	</section>

	
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header"></h4>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

<div class="container page-container"><div id="improve-slideout">
		<i class="fa fa-pencil icon-improve"></i>
		<a href="https://github.com/cakephp/docs/edit/master/en/core-libraries/components/cookie.rst" target="_blank">
			<div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
		</a>
	</div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

	
	<div class="row">
		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off"><div class="page-contents col-sm-5">
				<h3>Page Contents</h3>
				<ul>
<li><a class="reference internal" href="#">Cookie</a><ul>
<li><a class="reference internal" href="#controller-setup">Controller Setup</a></li>
<li><a class="reference internal" href="#using-the-component">Using the Component</a></li>
</ul>
</li>
</ul>

			</div><div class="document-body">
			
  <div class="section" id="cookie">
<h1>Cookie<a class="headerlink" href="#cookie" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="CookieComponent">
<em class="property">class </em><code class="descname">CookieComponent</code><span class="sig-paren">(</span><em>ComponentCollection $collection</em>, <em>array $settings = array()</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>The CookieComponent is a wrapper around the native PHP <code class="docutils literal"><span class="pre">setcookie</span></code>
method. It also includes a host of delicious icing to make coding
cookies in your controllers very convenient. Before attempting to
use the CookieComponent, you must make sure that &#8216;Cookie&#8217; is listed
in your controller&#8217;s $components array.</p>
<div class="section" id="controller-setup">
<h2>Controller Setup<a class="headerlink" href="#controller-setup" title="Permalink to this headline">¶</a></h2>
<p>There are a number of controller variables that allow you to
configure the way cookies are created and managed. Defining these
special variables in the beforeFilter() method of your controller
allows you to define how the CookieComponent works.</p>
<table border="1" class="docutils">
<colgroup>
<col width="20%" />
<col width="16%" />
<col width="64%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Cookie variable</th>
<th class="head">default</th>
<th class="head">description</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>string $name</td>
<td>&#8216;CakeCookie&#8217;</td>
<td>The name of the cookie.</td>
</tr>
<tr class="row-odd"><td>string $key</td>
<td>null</td>
<td><p class="first">This string is used to encrypt
the value written to the cookie.
The string should be random and difficult to guess.</p>
<p class="last">When using rijndael or aes encryption, this value
must be longer than 32 bytes.</p>
</td>
</tr>
<tr class="row-even"><td>string $domain</td>
<td>&#8216;&#8217;</td>
<td>The domain name allowed to access the cookie. For
example, use &#8216;.yourdomain.com&#8217; to allow access from
all your subdomains.</td>
</tr>
<tr class="row-odd"><td>int or string
$time</td>
<td>&#8216;5 Days&#8217;</td>
<td>The time when your cookie will expire. Integers are
interpreted as seconds. A value of 0 is equivalent
to a &#8216;session cookie&#8217;: i.e., the cookie expires when
the browser is closed. If a string is set, this will
be interpreted with PHP function strtotime(). You can
set this directly within the write() method.</td>
</tr>
<tr class="row-even"><td>string $path</td>
<td>&#8216;/&#8217;</td>
<td>The server path on which the cookie will be applied.
If $path is set to &#8216;/foo/&#8217;, the cookie will
only be available within the /foo/ directory and all
sub-directories of your domain, such as /foo/bar. The
default value is the entire domain. You can set this
directly within the write() method.</td>
</tr>
<tr class="row-odd"><td>boolean $secure</td>
<td>false</td>
<td>Indicates that the cookie should only be transmitted
over a secure HTTPS connection. When set to true, the
cookie will only be set if a secure connection
exists. You can set this directly within the write()
method.</td>
</tr>
<tr class="row-even"><td>boolean
$httpOnly</td>
<td>false</td>
<td>Set to true to make HTTP only cookies. Cookies that
are HTTP only are not accessible in Javascript.</td>
</tr>
</tbody>
</table>
<p>The following snippet of controller code shows how to include the
CookieComponent and set up the controller variables needed to write
a cookie named &#8216;baker_id&#8217; for the domain &#8216;example.com&#8217; which needs
a secure connection, is available on the path
&#8216;/bakers/preferences/&#8217;, expires in one hour and is HTTP only:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Cookie&#39;</span><span class="p">);</span>

<span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">parent</span><span class="o">::</span><span class="na">beforeFilter</span><span class="p">();</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">name</span> <span class="o">=</span> <span class="s1">&#39;baker_id&#39;</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">time</span> <span class="o">=</span> <span class="mi">3600</span><span class="p">;</span>  <span class="c1">// or &#39;1 hour&#39;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">path</span> <span class="o">=</span> <span class="s1">&#39;/bakers/preferences/&#39;</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">domain</span> <span class="o">=</span> <span class="s1">&#39;example.com&#39;</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">secure</span> <span class="o">=</span> <span class="k">true</span><span class="p">;</span>  <span class="c1">// i.e. only sent if using secure HTTPS</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">key</span> <span class="o">=</span> <span class="s1">&#39;qSI232qs*&amp;sXOw!adre@34SAv!@*(XSL#$%)asGb$@11~_+!@#HKis~#^&#39;</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">httpOnly</span> <span class="o">=</span> <span class="k">true</span><span class="p">;</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">type</span><span class="p">(</span><span class="s1">&#39;aes&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Next, let&#8217;s look at how to use the different methods of the Cookie
Component.</p>
</div>
<div class="section" id="using-the-component">
<h2>Using the Component<a class="headerlink" href="#using-the-component" title="Permalink to this headline">¶</a></h2>
<p>The CookieComponent offers a number of methods for working with Cookies.</p>
<dl class="method">
<dt id="CookieComponent::write">
<code class="descclassname">CookieComponent::</code><code class="descname">write</code><span class="sig-paren">(</span><em>mixed $key</em>, <em>mixed $value = null</em>, <em>boolean $encrypt = true</em>, <em>mixed $expires = null</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::write" title="Permalink to this definition">¶</a></dt>
<dd><p>The write() method is the heart of the cookie component. $key is the
cookie variable name you want, and the $value is the information to
be stored:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>You can also group your variables by using dot notation in the
key parameter:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User.name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User.role&#39;</span><span class="p">,</span> <span class="s1">&#39;Lead&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>If you want to write more than one value to the cookie at a time,
you can pass an array:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Larry&#39;</span><span class="p">,</span> <span class="s1">&#39;role&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Lead&#39;</span><span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>All values in the cookie are encrypted by default. If you want to
store the values as plain text, set the third parameter of the
write() method to false. You should remember to set
the encryption mode to &#8216;aes&#8217; to ensure that values are securely
encrypted:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>
</pre></div>
</div>
<p>The last parameter to write is $expires – the number of seconds
until your cookie will expire. For convenience, this parameter can
also be passed as a string that the PHP strtotime() function
understands:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Both cookies expire in one hour.</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;first_name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">,</span> <span class="mi">3600</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;last_name&#39;</span><span class="p">,</span> <span class="s1">&#39;Masters&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">,</span> <span class="s1">&#39;1 hour&#39;</span><span class="p">);</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::read">
<code class="descclassname">CookieComponent::</code><code class="descname">read</code><span class="sig-paren">(</span><em>mixed $key = null</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::read" title="Permalink to this definition">¶</a></dt>
<dd><p>This method is used to read the value of a cookie variable with the
name specified by $key.</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Outputs &quot;Larry&quot;</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">);</span>

<span class="c1">// You can also use the dot notation for read</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;User.name&#39;</span><span class="p">);</span>

<span class="c1">// To get the variables which you had grouped</span>
<span class="c1">// using the dot notation as an array use the following</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">);</span>

<span class="c1">// this outputs something like array(&#39;name&#39; =&gt; &#39;Larry&#39;, &#39;role&#39; =&gt; &#39;Lead&#39;)</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::check">
<code class="descclassname">CookieComponent::</code><code class="descname">check</code><span class="sig-paren">(</span><em>$key</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::check" title="Permalink to this definition">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>$key</strong> (<em>string</em>) &#8211; The key to check.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Used to check whether a key/path exists and has a non-null value.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span><code class="docutils literal"><span class="pre">CookieComponent::check()</span></code> was added in 2.3</p>
</div>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::delete">
<code class="descclassname">CookieComponent::</code><code class="descname">delete</code><span class="sig-paren">(</span><em>mixed $key</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::delete" title="Permalink to this definition">¶</a></dt>
<dd><p>Deletes a cookie variable of the name in $key. Works with dot
notation:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Delete a variable</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">delete</span><span class="p">(</span><span class="s1">&#39;bar&#39;</span><span class="p">);</span>

<span class="c1">// Delete the cookie variable bar, but not everything under foo</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">delete</span><span class="p">(</span><span class="s1">&#39;foo.bar&#39;</span><span class="p">);</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::destroy">
<code class="descclassname">CookieComponent::</code><code class="descname">destroy</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::destroy" title="Permalink to this definition">¶</a></dt>
<dd><p>Destroys the current cookie.</p>
</dd></dl>

<dl class="method">
<dt id="CookieComponent::type">
<code class="descclassname">CookieComponent::</code><code class="descname">type</code><span class="sig-paren">(</span><em>$type</em><span class="sig-paren">)</span><a class="headerlink" href="#CookieComponent::type" title="Permalink to this definition">¶</a></dt>
<dd><p>Allows you to change the encryption scheme. By default the &#8216;cipher&#8217; scheme is used for
backwards compatibility. However, you should always use either the &#8216;rijndael&#8217; or
&#8216;aes&#8217; schemes.</p>
<div class="versionchanged">
<p><span class="versionmodified">Changed in version 2.2: </span>The &#8216;rijndael&#8217; type was added.</p>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>The &#8216;aes&#8217; type was added.</p>
</div>
</dd></dl>

</div>
</div>


			</div>
		</div>

		
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="en">
			<aside class="sidebar">
				<div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../index.html">Welcome</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../getting-started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cakephp-overview.html">CakePHP Overview</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../controllers.html">Controllers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">Views</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../models.html">Models</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../core-libraries.html">Core Libraries</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../toc-general-purpose.html">General Purpose</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-behaviors.html">Behaviors</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../toc-components.html">Components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3"><a class="reference internal" href="sessions.html">Sessions</a></li>
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication</a></li>
<li class="toctree-l3"><a class="reference internal" href="security-component.html">Security</a></li>
<li class="toctree-l3"><a class="reference internal" href="request-handling.html">Request Handling</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="access-control-lists.html">Access Control Lists</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../toc-helpers.html">Helpers</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-utilities.html">Utilities</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Shells, Tasks &amp; Console Tools</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development.html">Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">Tutorials &amp; Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">Contributing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

				</div>
			</aside>
			<aside class="sidebar">
				<div class="mb30 row">
				</div>
			</aside>
		</div>
	</div>
</div>

<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4  social text-center">
				<div class="col-sm-3 col-xs-3">
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						<div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 social-footer text-center ">
				<a href="#">发现翻译错误? 请在下面留言</a>
				<a href="https://github.com/blackpuppy/docs/wiki" target="_blank">我要加入翻译</a>
				<a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
				<a href="http://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="http://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="http://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
				<a href="http://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
				<a href="http://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
				<a href="http://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">
			<div class="col-sm-12 col-md-3">
				<div class="footer-widget t-footer">
					<div class="col-md-12">
						<a href="https://www.openhub.net/p/cakephp">
							<img src="../../_static/open-hub.png">
						</a>
						<div class="mt10">
							<a href="https://www.rackspace.com/">
								<img src="../../_static/rackspace.png">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-9">
				<div class="col-md-3 col-sm-6 business-solution">
					<ul class="footer-menu">
						<li class="menu-title">
	<a href="http://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
	<a href="http://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
							&copy; Copyright 2016, Cake Software Foundation, Inc.
						Last updated on Aug 06, 2016.
						Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F201cbc61deaf9f7ffb521fb23e83db40' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"cakephpchina"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
  </body>
</html>