

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Security" lang="en" name="title" />
<meta content="configurable parameters,security component,configuration parameters,invalid request,protection features,tighter security,holing,php class,meth,404 error,period of inactivity,csrf,array,submission,security class,disable security,unlockActions" lang="en" name="keywords" />

    <title>Security</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="pt" href="../../../pt/core-libraries/components/security-component.html" /><link rel="alternate" hreflang="es" href="../../../es/core-libraries/components/security-component.html" /><link rel="alternate" hreflang="ja" href="../../../ja/core-libraries/components/security-component.html" /><link rel="alternate" hreflang="fr" href="../../../fr/core-libraries/components/security-component.html" /><link rel="alternate" hreflang="zh" href="../../../zh/core-libraries/components/security-component.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 2.x documentation" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 2.x documentation" href="../../index.html" />
    <link rel="up" title="Components" href="../toc-components.html" />
    <link rel="next" title="Request Handling" href="request-handling.html" />
    <link rel="prev" title="Authentication" href="authentication.html" />

    <script type="text/javascript">
    window.lang = "en";
    </script>
  </head>
  <body>

<div id="container">
	
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									
<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
								</ul>
							</li>

							<li><a href="http://cakephp.org/business-solutions">Business Solutions</a></li>
							<li><a href="http://cakephp.org/showcase">Showcase</a></li>

							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
											</ul>
										</div>
										<div class="col-6 pl30">
											<ul class="megamenu-list">
												
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		
		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">
				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="http://cakephp.org">
						<img src="../../_static/logo-cake.png" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
						<button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
							<i class="fa fa-bars toggle-modal"></i>
						</button>
					</div>
					<div id="wrap">
						<form class="search" action="../../search.html" method="get">
							<input name="q" type="search" placeholder="What are you looking for?">
							<input id="search_submit" value="Search" type="submit">
						</form>
					</div>
				</div>
			</div>
		</div>

		
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0 hidden-sm hidden-xs">
							<h2>
								<a href="../../contents.html">
									<span class="glyph_range icon-submenu icon-submenu-cook">B</span>
									CakePHP 2.x <strong>Cookbook</strong>
								</a>
							</h2>
						</div>

						<div class="col-md-4 hidden-sm">
							<form class="search" action="../../search.html" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
									</button>
								</div>
							</form>
						</div>

						
						<div class="col-md-3">
							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Language:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
													role="button" aria-haspopup="true" aria-expanded="false" href="#">
														en
														<i class="fa fa-menu-en fa-chevron-down"></i>
													</a>
											<ul class="dropdown-menu">
											
												<li></li>
											
												<li><a href="../../../pt/core-libraries/components/security-component.html">pt</a></li>
											
												<li><a href="../../../es/core-libraries/components/security-component.html">es</a></li>
											
												<li><a href="../../../ja/core-libraries/components/security-component.html">ja</a></li>
											
												<li><a href="../../../fr/core-libraries/components/security-component.html">fr</a></li>
											
												<li><a href="../../../zh/core-libraries/components/security-component.html">zh</a></li>
											
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Version:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="http://book.cakephp.org/3.0/en">3.x Book</a></li>
												<li><a href="http://book.cakephp.org/2.0/en">2.x Book</a></li>
												<li><a href="http://book.cakephp.org/1.3/en/">1.3 Book</a></li>
												<li><a href="http://book.cakephp.org/1.2/en/">1.2 Book</a></li>
												<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>

	
	<section class="nav-btn visible-sm visible-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
				</div>

				<div class="col-sm-6 col-xs-6 text-center">
					<button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
				</div>
			</div>
		</div>
	</section>

	
	<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title-cookbook" id="modal-header"></h4>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

<div class="container page-container"><div id="improve-slideout">
		<i class="fa fa-pencil icon-improve"></i>
		<a href="https://github.com/cakephp/docs/edit/master/en/core-libraries/components/security-component.rst" target="_blank">
			<div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
		</a>
	</div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

	
	<div class="row">
		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off"><div class="page-contents col-sm-5">
				<h3>Page Contents</h3>
				<ul>
<li><a class="reference internal" href="#">Security</a><ul>
<li><a class="reference internal" href="#handling-blackhole-callbacks">Handling blackhole callbacks</a></li>
<li><a class="reference internal" href="#restricting-http-methods">Restricting HTTP methods</a></li>
<li><a class="reference internal" href="#restrict-actions-to-ssl">Restrict actions to SSL</a></li>
<li><a class="reference internal" href="#restricting-cross-controller-communication">Restricting cross controller communication</a></li>
<li><a class="reference internal" href="#form-tampering-prevention">Form tampering prevention</a></li>
<li><a class="reference internal" href="#csrf-configuration">CSRF configuration</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#csrf-protection">CSRF protection</a><ul>
<li><a class="reference internal" href="#using-csrf-protection">Using CSRF protection</a></li>
<li><a class="reference internal" href="#handling-missing-or-expired-tokens">Handling missing or expired tokens</a></li>
<li><a class="reference internal" href="#using-per-session-tokens-instead-of-one-time-use-tokens">Using per-session tokens instead of one-time use tokens</a></li>
<li><a class="reference internal" href="#disabling-the-csrf-protection">Disabling the CSRF protection</a></li>
</ul>
</li>
<li><a class="reference internal" href="#disabling-csrf-and-post-data-validation-for-specific-actions">Disabling CSRF and Post Data Validation For Specific Actions</a></li>
</ul>
</li>
</ul>

			</div><div class="document-body">
			
  <div class="section" id="security">
<h1>Security<a class="headerlink" href="#security" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="SecurityComponent">
<em class="property">class </em><code class="descname">SecurityComponent</code><span class="sig-paren">(</span><em>ComponentCollection $collection</em>, <em>array $settings = array()</em><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>The Security Component creates an easy way to integrate tighter
security in your application. It provides methods for various tasks like:</p>
<ul class="simple">
<li>Restricting which HTTP methods your application accepts.</li>
<li>CSRF protection.</li>
<li>Form tampering protection</li>
<li>Requiring that SSL be used.</li>
<li>Limiting cross controller communication.</li>
</ul>
<p>Like all components it is configured through several configurable parameters.
All of these properties can be set directly or through setter methods of the
same name in your controller&#8217;s beforeFilter.</p>
<p>By using the Security Component you automatically get <a class="reference external" href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">CSRF</a> and form tampering
protection. Hidden token fields will automatically be inserted into forms and
checked by the Security component. Among other things, a form submission will
not be accepted after a certain period of inactivity, which is controlled by the
<code class="docutils literal"><span class="pre">csrfExpires</span></code> time.</p>
<p>If you are using Security component&#8217;s form protection features and other
components that process form data in their <code class="docutils literal"><span class="pre">startup()</span></code> callbacks, be sure to
place Security Component before those components in your <code class="docutils literal"><span class="pre">$components</span></code> array.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">When using the Security Component you <strong>must</strong> use the FormHelper to create
your forms. In addition, you must <strong>not</strong> override any of the fields&#8217; &#8220;name&#8221;
attributes. The Security Component looks for certain indicators that are
created and managed by the FormHelper (especially those created in
<a class="reference internal" href="../helpers/form.html#FormHelper::create" title="FormHelper::create"><code class="xref php php-meth docutils literal"><span class="pre">create()</span></code></a> and <a class="reference internal" href="../helpers/form.html#FormHelper::end" title="FormHelper::end"><code class="xref php php-meth docutils literal"><span class="pre">end()</span></code></a>).
Dynamically altering the fields that are submitted in a POST request (e.g.
disabling, deleting or creating new fields via JavaScript) is likely to
trigger a black-holing of the request. See the <code class="docutils literal"><span class="pre">$validatePost</span></code> or
<code class="docutils literal"><span class="pre">$disabledFields</span></code> configuration parameters.</p>
</div>
<div class="section" id="handling-blackhole-callbacks">
<h2>Handling blackhole callbacks<a class="headerlink" href="#handling-blackhole-callbacks" title="Permalink to this headline">¶</a></h2>
<p>If an action is restricted by the Security Component it is
black-holed as an invalid request which will result in a 400 error
by default. You can configure this behavior by setting the
<code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;blackHoleCallback</span></code> property to a callback function
in the controller.</p>
<dl class="method">
<dt id="SecurityComponent::blackHole">
<code class="descclassname">SecurityComponent::</code><code class="descname">blackHole</code><span class="sig-paren">(</span><em>object $controller</em>, <em>string $error</em><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::blackHole" title="Permalink to this definition">¶</a></dt>
<dd><p>Black-hole an invalid request with a 400 error or a custom
callback. With no callback, the request will be exited. If a
controller callback is set to SecurityComponent::blackHoleCallback,
it will be called and passed any error information.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$blackHoleCallback">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">blackHoleCallback</code><a class="headerlink" href="#SecurityComponent::$blackHoleCallback" title="Permalink to this definition">¶</a></dt>
<dd><p>A Controller callback that will handle any requests that are
blackholed. A blackhole callback can be any public method on a controller.
The callback should expect a parameter indicating the type of error:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">blackHoleCallback</span> <span class="o">=</span> <span class="s1">&#39;blackhole&#39;</span><span class="p">;</span>
<span class="p">}</span>

<span class="k">public</span> <span class="k">function</span> <span class="nf">blackhole</span><span class="p">(</span><span class="nv">$type</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// handle errors.</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The <code class="docutils literal"><span class="pre">$type</span></code> parameter can have the following values:</p>
<ul class="simple">
<li>&#8216;auth&#8217; Indicates a form validation error, or a controller/action mismatch
error.</li>
<li>&#8216;csrf&#8217; Indicates a CSRF error.</li>
<li>&#8216;get&#8217; Indicates an HTTP method restriction failure.</li>
<li>&#8216;post&#8217; Indicates an HTTP method restriction failure.</li>
<li>&#8216;put&#8217; Indicates an HTTP method restriction failure.</li>
<li>&#8216;delete&#8217; Indicates an HTTP method restriction failure.</li>
<li>&#8216;secure&#8217; Indicates an SSL method restriction failure.</li>
</ul>
</dd></dl>

</div>
<div class="section" id="restricting-http-methods">
<h2>Restricting HTTP methods<a class="headerlink" href="#restricting-http-methods" title="Permalink to this headline">¶</a></h2>
<dl class="method">
<dt id="SecurityComponent::requirePost">
<code class="descclassname">SecurityComponent::</code><code class="descname">requirePost</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requirePost" title="Permalink to this definition">¶</a></dt>
<dd><p>Sets the actions that require a POST request. Takes any number of
arguments. Can be called with no arguments to force all actions to
require a POST.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requireGet">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireGet</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireGet" title="Permalink to this definition">¶</a></dt>
<dd><p>Sets the actions that require a GET request. Takes any number of
arguments. Can be called with no arguments to force all actions to
require a GET.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requirePut">
<code class="descclassname">SecurityComponent::</code><code class="descname">requirePut</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requirePut" title="Permalink to this definition">¶</a></dt>
<dd><p>Sets the actions that require a PUT request. Takes any number of
arguments. Can be called with no arguments to force all actions to
require a PUT.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requireDelete">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireDelete</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireDelete" title="Permalink to this definition">¶</a></dt>
<dd><p>Sets the actions that require a DELETE request. Takes any number of
arguments. Can be called with no arguments to force all actions to
require a DELETE.</p>
</dd></dl>

</div>
<div class="section" id="restrict-actions-to-ssl">
<h2>Restrict actions to SSL<a class="headerlink" href="#restrict-actions-to-ssl" title="Permalink to this headline">¶</a></h2>
<dl class="method">
<dt id="SecurityComponent::requireSecure">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireSecure</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireSecure" title="Permalink to this definition">¶</a></dt>
<dd><p>Sets the actions that require a SSL-secured request. Takes any
number of arguments. Can be called with no arguments to force all
actions to require a SSL-secured.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requireAuth">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireAuth</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireAuth" title="Permalink to this definition">¶</a></dt>
<dd><p>Sets the actions that require a valid Security Component generated
token. Takes any number of arguments. Can be called with no
arguments to force all actions to require a valid authentication.</p>
</dd></dl>

</div>
<div class="section" id="restricting-cross-controller-communication">
<h2>Restricting cross controller communication<a class="headerlink" href="#restricting-cross-controller-communication" title="Permalink to this headline">¶</a></h2>
<dl class="attr">
<dt id="SecurityComponent::$allowedControllers">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">allowedControllers</code><a class="headerlink" href="#SecurityComponent::$allowedControllers" title="Permalink to this definition">¶</a></dt>
<dd><p>A list of controllers which can send requests
to this controller.
This can be used to control cross controller requests.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$allowedActions">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">allowedActions</code><a class="headerlink" href="#SecurityComponent::$allowedActions" title="Permalink to this definition">¶</a></dt>
<dd><p>A list of actions which are allowed to send requests
to this controller&#8217;s actions.
This can be used to control cross controller requests.</p>
</dd></dl>

</div>
<div class="section" id="form-tampering-prevention">
<h2>Form tampering prevention<a class="headerlink" href="#form-tampering-prevention" title="Permalink to this headline">¶</a></h2>
<p>By default the <code class="docutils literal"><span class="pre">SecurityComponent</span></code> prevents users from tampering with forms in
specific ways. The <code class="docutils literal"><span class="pre">SecurityComponent</span></code> will prevent the following things:</p>
<ul class="simple">
<li>Unknown fields cannot be added to the form.</li>
<li>Fields cannot be removed from the form.</li>
<li>Values in hidden inputs cannot be modified.</li>
</ul>
<p>Preventing these types of tampering is accomplished by working with the FormHelper
and tracking which fields are in a form. The values for hidden fields are
tracked as well. All of this data is combined and turned into a hash. When
a form is submitted, the <code class="docutils literal"><span class="pre">SecurityComponent</span></code> will use the POST data to build the same
structure and compare the hash.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The SecurityComponent will <strong>not</strong> prevent select options from being
added/changed. Nor will it prevent radio options from being added/changed.</p>
</div>
<dl class="attr">
<dt id="SecurityComponent::$unlockedFields">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">unlockedFields</code><a class="headerlink" href="#SecurityComponent::$unlockedFields" title="Permalink to this definition">¶</a></dt>
<dd><p>Set to a list of form fields to exclude from POST validation. Fields can be
unlocked either in the Component, or with
<a class="reference internal" href="../helpers/form.html#FormHelper::unlockField" title="FormHelper::unlockField"><code class="xref php php-meth docutils literal"><span class="pre">FormHelper::unlockField()</span></code></a>. Fields that have been unlocked are
not required to be part of the POST and hidden unlocked fields do not have
their values checked.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$validatePost">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">validatePost</code><a class="headerlink" href="#SecurityComponent::$validatePost" title="Permalink to this definition">¶</a></dt>
<dd><p>Set to <code class="docutils literal"><span class="pre">false</span></code> to completely skip the validation of POST
requests, essentially turning off form validation.</p>
</dd></dl>

</div>
<div class="section" id="csrf-configuration">
<h2>CSRF configuration<a class="headerlink" href="#csrf-configuration" title="Permalink to this headline">¶</a></h2>
<dl class="attr">
<dt id="SecurityComponent::$csrfCheck">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">csrfCheck</code><a class="headerlink" href="#SecurityComponent::$csrfCheck" title="Permalink to this definition">¶</a></dt>
<dd><p>Whether to use CSRF protected forms. Set to <code class="docutils literal"><span class="pre">false</span></code> to disable
CSRF protection on forms.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$csrfExpires">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">csrfExpires</code><a class="headerlink" href="#SecurityComponent::$csrfExpires" title="Permalink to this definition">¶</a></dt>
<dd><p>The duration from when a CSRF token is created that it will expire on.
Each form/page request will generate a new token that can only
be submitted once unless it expires. Can be any value compatible
with <code class="docutils literal"><span class="pre">strtotime()</span></code>. The default is +30 minutes.</p>
</dd></dl>

<dl class="attr">
<dt id="SecurityComponent::$csrfUseOnce">
<em class="property">property </em><code class="descclassname">SecurityComponent::$</code><code class="descname">csrfUseOnce</code><a class="headerlink" href="#SecurityComponent::$csrfUseOnce" title="Permalink to this definition">¶</a></dt>
<dd><p>Controls whether or not CSRF tokens are single use. Set to
<code class="docutils literal"><span class="pre">false</span></code> to not generate new tokens on each request. One token
will be reused until it expires. This reduces the chances of
users getting invalid requests because of token consumption.
It has the side effect of making CSRF less secure, as tokens are reusable.</p>
</dd></dl>

</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Using the security component is generally done in the controllers
<code class="docutils literal"><span class="pre">beforeFilter()</span></code>. You would specify the security restrictions you
want and the Security Component will enforce them on its startup:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">requirePost</span><span class="p">(</span><span class="s1">&#39;delete&#39;</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>In this example the delete action can only be successfully
triggered if it receives a POST request:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">params</span><span class="p">[</span><span class="s1">&#39;admin&#39;</span><span class="p">]))</span> <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">requireSecure</span><span class="p">();</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>This example would force all actions that had admin routing to
require secure SSL requests:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span> <span class="p">{</span>

    <span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">params</span><span class="p">[</span><span class="s1">&#39;admin&#39;</span><span class="p">]))</span> <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">blackHoleCallback</span> <span class="o">=</span> <span class="s1">&#39;forceSSL&#39;</span><span class="p">;</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">requireSecure</span><span class="p">();</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">forceSSL</span><span class="p">()</span> <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">redirect</span><span class="p">(</span><span class="s1">&#39;https://&#39;</span> <span class="o">.</span> <span class="nx">env</span><span class="p">(</span><span class="s1">&#39;SERVER_NAME&#39;</span><span class="p">)</span> <span class="o">.</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">here</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>This example would force all actions that had admin routing to
require SSL requests. When the request is black holed, it
will call the nominated <code class="docutils literal"><span class="pre">forceSSL()</span></code> callback which will redirect
non-secure requests to secure requests automatically.</p>
</div>
<div class="section" id="csrf-protection">
<span id="security-csrf"></span><h2>CSRF protection<a class="headerlink" href="#csrf-protection" title="Permalink to this headline">¶</a></h2>
<p>CSRF or Cross Site Request Forgery is a common vulnerability in web
applications. It allows an attacker to capture and replay a previous request,
and sometimes submit data requests using image tags or resources on other
domains.</p>
<p>Double submission and replay attacks are handled by the <code class="docutils literal"><span class="pre">SecurityComponent</span></code> CSRF
features. They work by adding a special token to each form request. This token,
once used, cannot be used again. If an attempt is made to re-use an expired
token the request will be blackholed.</p>
<div class="section" id="using-csrf-protection">
<h3>Using CSRF protection<a class="headerlink" href="#using-csrf-protection" title="Permalink to this headline">¶</a></h3>
<p>Simply by adding the <code class="docutils literal"><span class="pre">SecurityComponent</span></code> to your components array,
you can benefit from the CSRF protection it provides. By default CSRF tokens are
valid for 30 minutes and expire on use. You can control how long tokens last by setting
csrfExpires on the component.</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Security&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;csrfExpires&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;+1 hour&#39;</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>You can also set this property in your controller&#8217;s <code class="docutils literal"><span class="pre">beforeFilter</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">()</span> <span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">csrfExpires</span> <span class="o">=</span> <span class="s1">&#39;+1 hour&#39;</span><span class="p">;</span>
    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The csrfExpires property can be any value that is compatible with
<a class="reference external" href="http://php.net/manual/en/function.strtotime.php">strtotime()</a>. By default the
<a class="reference internal" href="../helpers/form.html#FormHelper" title="FormHelper"><code class="xref php php-class docutils literal"><span class="pre">FormHelper</span></code></a> will add a <code class="docutils literal"><span class="pre">data[_Token][key]</span></code> containing the CSRF
token to every form when the component is enabled.</p>
</div>
<div class="section" id="handling-missing-or-expired-tokens">
<h3>Handling missing or expired tokens<a class="headerlink" href="#handling-missing-or-expired-tokens" title="Permalink to this headline">¶</a></h3>
<p>Missing or expired tokens are handled similar to other security violations. The
<code class="docutils literal"><span class="pre">SecurityComponent</span></code> <code class="docutils literal"><span class="pre">blackHoleCallback</span></code> will be called with a &#8216;csrf&#8217; parameter.
This helps you filter out CSRF token failures, from other warnings.</p>
</div>
<div class="section" id="using-per-session-tokens-instead-of-one-time-use-tokens">
<h3>Using per-session tokens instead of one-time use tokens<a class="headerlink" href="#using-per-session-tokens-instead-of-one-time-use-tokens" title="Permalink to this headline">¶</a></h3>
<p>By default a new CSRF token is generated for each request, and each token can
only be used once. If a token is used twice, the request will be blackholed. Sometimes,
this behaviour is not desirable, as it can create issues with single page
applications. You can toggle on longer, multi-use tokens by setting
<code class="docutils literal"><span class="pre">csrfUseOnce</span></code> to <code class="docutils literal"><span class="pre">false</span></code>. This can be done in the components array, or in
the <code class="docutils literal"><span class="pre">beforeFilter</span></code> of your controller:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="nv">$components</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Security&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;csrfUseOnce&#39;</span> <span class="o">=&gt;</span> <span class="k">false</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will tell the component that you want to re-use a CSRF token until it
expires - which is controlled by the <code class="docutils literal"><span class="pre">csrfExpires</span></code> value. If you are having
issues with expired tokens, this is a good balance between security and ease of
use.</p>
</div>
<div class="section" id="disabling-the-csrf-protection">
<h3>Disabling the CSRF protection<a class="headerlink" href="#disabling-the-csrf-protection" title="Permalink to this headline">¶</a></h3>
<p>There may be cases where you want to disable CSRF protection on your forms for
some reason. If you do want to disable this feature, you can set
<code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;csrfCheck</span> <span class="pre">=</span> <span class="pre">false;</span></code> in your <code class="docutils literal"><span class="pre">beforeFilter</span></code> or use the
components array. By default CSRF protection is enabled, and configured to use
one-use tokens.</p>
</div>
</div>
<div class="section" id="disabling-csrf-and-post-data-validation-for-specific-actions">
<h2>Disabling CSRF and Post Data Validation For Specific Actions<a class="headerlink" href="#disabling-csrf-and-post-data-validation-for-specific-actions" title="Permalink to this headline">¶</a></h2>
<p>There may be cases where you want to disable all security checks for an action (ex. AJAX requests).
You may &#8220;unlock&#8221; these actions by listing them in <code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;unlockedActions</span></code> in your
<code class="docutils literal"><span class="pre">beforeFilter</span></code>. The <code class="docutils literal"><span class="pre">unlockedActions</span></code> property will <strong>not</strong> effect other
features of <code class="docutils literal"><span class="pre">SecurityComponent</span></code>.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3.</span></p>
</div>
</div>
</div>


			</div>
		</div>

		
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="en">
			<aside class="sidebar">
				<div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../index.html">Welcome</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../getting-started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cakephp-overview.html">CakePHP Overview</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../controllers.html">Controllers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">Views</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../models.html">Models</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../core-libraries.html">Core Libraries</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../toc-general-purpose.html">General Purpose</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-behaviors.html">Behaviors</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../toc-components.html">Components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3"><a class="reference internal" href="sessions.html">Sessions</a></li>
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Security</a></li>
<li class="toctree-l3"><a class="reference internal" href="request-handling.html">Request Handling</a></li>
<li class="toctree-l3"><a class="reference internal" href="cookie.html">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="access-control-lists.html">Access Control Lists</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../toc-helpers.html">Helpers</a></li>
<li class="toctree-l2"><a class="reference internal" href="../toc-utilities.html">Utilities</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Shells, Tasks &amp; Console Tools</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development.html">Development</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">Tutorials &amp; Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">Contributing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

				</div>
			</aside>
			<aside class="sidebar">
				<div class="mb30 row">
				</div>
			</aside>
		</div>
	</div>
</div>

<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4  social text-center">
				<div class="col-sm-3 col-xs-3">
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						<div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 social-footer text-center ">
				<a href="#">发现翻译错误? 请在下面留言</a>
				<a href="https://github.com/blackpuppy/docs/wiki" target="_blank">我要加入翻译</a>
				<a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
				<a href="http://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="http://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="http://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
				<a href="http://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
				<a href="http://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
				<a href="http://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">
			<div class="col-sm-12 col-md-3">
				<div class="footer-widget t-footer">
					<div class="col-md-12">
						<a href="https://www.openhub.net/p/cakephp">
							<img src="../../_static/open-hub.png">
						</a>
						<div class="mt10">
							<a href="https://www.rackspace.com/">
								<img src="../../_static/rackspace.png">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-9">
				<div class="col-md-3 col-sm-6 business-solution">
					<ul class="footer-menu">
						<li class="menu-title">
	<a href="http://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
	<a href="http://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="http://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>CookBook</a></li>
<li><a href="http://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="http://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="http://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="http://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="http://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="http://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="http://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="http://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="http://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="http://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="http://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-sm-6">
					<ul class="footer-menu">
						
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="http://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="http://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="http://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="http://cakedc.com"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
							&copy; Copyright 2016, Cake Software Foundation, Inc.
						Last updated on Aug 04, 2016.
						Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F201cbc61deaf9f7ffb521fb23e83db40' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"cakephpchina"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
  </body>
</html>